<div class="full-grey-screen">
  <kz-header type="withMenu"></kz-header>
  <div class="login-container small-container">

    <div class="icon-screen">
      <img src="/assets/images/icon-success-dark.svg" />
    </div>

    <h1>Logout to proceed</h1>
    <p>
      You’re currently logged in with a user account.
      Please logout and proceed to verify your business information as a business user.
    </p>

    <div class="row centered">
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
  </div>
  <kz-footer></kz-footer>
</div>
