
@import "../../../styles/variables";

.search-with-map {
  position: relative;

  .businesses {
    position: absolute;
    width: 100%;
    bottom: 0;
    max-height: 290px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0 -12px 24px 0 rgba(36, 36, 36, 0.12);
    background-color: rgba(255, 255, 255, 0.6);
    transition: height 0.2s linear;
    overflow-y: hidden;
    padding: 0 0 10px 0;

    .business-on-map {
      margin-right: 12px;
      margin-left: 12px;
    }
  }

  .opened {
    height: 93%;
    transition: height 0.2s linear;
    overflow-y: scroll;
  }

  .swipe-icon {
    width: 32px;
    height: 4px;
    border-radius: 2px;
    background-color: #b4bcc5;
    margin: 15px auto 20px;
  }
}
