<div class="full-grey-screen">
    <kz-header [type]="'empty'"></kz-header>
    <div class="info-page">
        <h1>Privacy Policy</h1>

        <p>Kidazzler, as operated by  Kidazzler Inc, a Delaware Corporation, (here after "<b>Kidazzler</b>" or
            "<b>we</b>," "<b>our</b>," and
            "<b>us</b>") is committed to safeguarding your privacy online. Please read the following privacy policy ("<b>Privacy
                Policy</b>") to understand how your information will be treated as you make full use of our mobile application
            ("<b>App</b>")
            and website (collectively, "<b>Service</b>").</p>
        <p>This Privacy Policy will let you know:</p>
        <ul>
            <li>How and when you are consenting to this Privacy Policy;</li>
            <li>Kidazzler&rsquo;s
                position on the use of its Service by minors and the collection of Personal Information from minors;
            </li>
            <li>What
                information Kidazzler collects from your device;
            </li>
            <li>What Personal Information Kidazzler collects from you;
            </li>
            <li>What
                cookies, pixel tags, and mobile device IDs are, and how Kidazzler uses them;
            </li>
            <li>How Kidazzler uses your
                information and with whom your information is shared;
            </li>
            <li>When and how Kidazzler will communicate with you or on
                your behalf;
            </li>
            <li>Kidazzler&rsquo;s policy regarding linked websites and embedded services;
            </li>
            <li>What your choices
                are regarding the collection, use, and distribution of your information;
            </li>
            <li>What security precautions are in
                place to protect the loss, misuse, or alteration of your information;
            </li>
            <li>How long your data is kept;
            </li>
            <li>What we do not do;
            </li>
            <li>Kidazzler&rsquo;s policy on Do Not Track signals;</li>
            <li>What else you should know about your privacy;</li>
            <li>When
                this Privacy Policy is effective and how and when changes may be made;
            </li>
            <li>How to contact us.</li>
        </ul>

        <h2>Consent</h2>
        <p>By submitting to us any individually identifiable information that would allow us to determine the actual
            identity of, and contact, you as a specific living person ("Personal Information") (through the use of the Service
            and/or signing up to receive more information) you agree that we may collect, use, and disclose such Personal
            Information in accordance with this Privacy Policy and as permitted or required by law. If you do not agree with
            these terms, please do not provide any Personal Information to us. If you refuse or withdraw your consent, or if
            you choose not to provide us with any required Personal Information, we may not be able to provide you with the
            Service and/or advertisements and other services that can be offered on the Service only if we have access certain
            Personal Information.</p>
        <h2>Minors</h2>
        <p>Minors (as defined under the laws of THEIR jurisdiction or residence) are not eligible to use the Service in any
            way. We do not knowingly collect Personal Information from any minor, and we will not use this information if we
            discover that it has been provided by a minor.</p>
        <h2>What Personal Information does Kidazzler collect from you?</h2>
        <p>Kidazzler collects information in several ways. Some Personal Information is gathered when you create a Kidazzler
            account through the Service ("Account"). When creating an Account, you will be asked to provide your first and
            last name, email address, and country of residence. Users who create an account on behalf of an organization will
            be asked to provide the name of the organization. Kidazzler may require additional user information in the future
            as it improves or releases new Service features. If you create an Account as a business, you will be asked to
            provide your business&rsquo;s name, email address, mailing address, phone number, website, and the name or Account
            username of the user who invited you to the Service, if applicable. Kidazzler may require additional business
            information in the future as it improves or releases new Service features.</p>
        <p>The Service also allows you to sign in using your Facebook login information. If you do so, you authorize us to
            access certain Facebook account information, including information you make available via your public Facebook
            profile (consistent with your privacy settings in Facebook), your email address, interests, likes, gender,
            birthday, education history, relationship status, friends list, photos, personal description, and information
            about and photos of your Facebook friends who may be common Facebook friends with other Kidazzler users. The
            Service will also collect your geolocation information when you download or use the Service. If you send or
            receive direct messages to other Service users, whether publicly or privately ("chat"), you provide us the content
            of your chats. We will also keep track of certain user metrics, which may include, without limitation, where you
            access the Service (geolocation), how frequently you use the Service, and how you use the Service.</p>
        <h2>What are cookies, pixel tags, and mobile device IDs, and how does Kidazzler use them?</h2>
        <p>Kidazzler uses cookies and pixel tags to store and sometimes track information about you. A "cookie" is a small
            amount of data that is sent to your browser or smartphone device from a web server and stored on your device&rsquo;s
            hard drive. A "pixel tag" is similar to a cookie in that it can collect information on a user&rsquo;s movements on
            the Internet. Generally, we use cookies and pixel tags to collect additional Service usage data, improve our
            Service, and personalize your experience. Using cookies and pixel tags helps us to gather and monitor Service
            analytics and data; authenticate your login to the Service to ensure a safe experience; prevent spam, scammers,
            and phishers; and facilitate user-to-user interactions, such as chatting, posting and sharing Content, and
            providing links to third-party services.</p>
        <p>Kidazzler also uses mobile device IDs, which are unique identifiers assigned to each mobile device, to recognize
            you when you use our App. We may use your mobile device ID to store your preferences, track your Service use, send
            you push notifications and crash or error reports, and more.</p>
        <h2>How does Kidazzler use your information and with whom is your information shared?</h2>
        <p>Our primary goal in collecting Personal Information is to provide you with the best experience possible through
            our Service. The majority of information that is collected about you is for the purpose of better understanding
            our users, expanding our user base, and ensuring that you have a safe and worry-free experience. We may also use
            the information we collect for purposes including, without limitation, advertisement tracking and analytics,
            supporting and improving our Service functionality, personalizing your user experience, and maintaining the
            security of our users and the Service.</p>
        <p>We will not share your Personal Information except as outlined in this Privacy Policy. We may share information,
            including Personal Information, without notice, with third parties that perform certain services on our behalf.
            These services may include fulfilling orders, advertisement tracking and analytics, member screenings, supporting
            our Service functionality, and supporting contests, sweepstakes, surveys, and other features offered through the
            Service.</p>
        <p>We may disclose your Personal Information in the following additional circumstances:<br />To effect a corporate
            transaction, in connection with the sale, merger, spin-off or other corporate reorganization of our corporation,
            where the information is provided to the new controlling entity in regular course of business. In the event of
            such an occurrence, we will make every effort to inform you of the transfer of your Personal Information;<br />As
            is required by our insurers and by regulatory agencies or to employees, contractors, consultants, and agents of
            Kidazzler to perform necessary actions in the normal course of business. No more information than is required in
            these circumstances will be provided;<br />To establish or exercise our legal rights, to defend against legal
            claims, when otherwise required by law or in response to a court order, or to comply with law enforcement;
            and<br />To enforce this Privacy Policy or <a href="javascript:void(0);" routerLink="/terms">Terms of Use</a>.</p>
        <h2>When and how does Kidazzler communicate with you or on your behalf?</h2>
        <p>Kidazzler will periodically send you the following types of emails, without limitation: email address
            confirmation; welcome email; weekly updates regarding statistics on your Service usage; reminders of incomplete
            information regarding your Account or any individuals or businesses you have invited to the Service; notifications
            when your invitees have joined the Service; and notifications when you achieve certain milestones within the
            Service.</p>
        <p>We may also communicate with other parties on your behalf. For instance, when you share a business by adding it
            to the Service, we may send an email to that business on your behalf informing them that you have recommended and
            added it to the Service. We may then send follow-up emails regarding the Service.</p>
        <h2>Linked websites and applications, and embedded services</h2>
        <p>The Service may contain links that will let you leave the Service and access another website or mobile
            application. Similarly, portions of the Service may employ the use of embedded services from third-parties, such
            as for the processing of credit card transactions. These "linked websites" and "linked applications" are not under
            our control and it is possible that these websites or applications have a different privacy policy. This Privacy
            Policy applies solely to Personal Information that is acquired through our Service. We accept no responsibility or
            liability for your use or disclosure of Personal Information to linked websites or applications.</p>
        <h2>What are your choices regarding the collection, use, and distribution of your information?</h2>
        <p>The disclosure of Personal Information is required to create an Account, which is required to access our Service.
            If you do not wish to disclose the requisite information you are free to discontinue use of the Service.</p>
        <p>You also have choices with respect to cookies. By modifying your Internet browser preferences, you may have the
            choice to accept all cookies, to be notified when a cookie is set, or to reject all cookies. If you choose to
            reject all cookies the Service may not be displayed or function in the way we intend.</p>
        <p>Our Service will deliver "push" notifications to your phone or mobile device. You can disable these notifications
            through the App or going into your device&rsquo;s application settings.</p>
        <p>What is Kidazzler&rsquo;s policy on allowing you to update, correct, or delete your Personal Information?</p>
        <p>If you wish to update, correct, or delete any of the information about you stored by the Service, send an inquiry
            to info@kidazzler.com. You can also change your Personal Information by logging into your Account and changing the
            settings. To protect your privacy and security, we will take reasonable steps to verify your identity before
            granting access or making corrections.</p>
        <h2>What security precautions are in place to protect the loss, misuse, or alteration of your information?</h2>
        <p>We will take the appropriate organizational and technical measures to protect your Personal Information and other
            data provided to or collected by us that are necessary to comply fully with any and all applicable laws,
            obligations, and regulations.</p>
        <p>Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, while we
            strive to protect your Personal Information, we cannot ensure or warrant the security of any information you
            transmit to us or from our Service, and you do so at your own risk. Once we receive your transmission, we make our
            best effort to ensure its security on our systems.</p>
        <h2>How long is your Personal Information stored?</h2>
        <p>We may retain your Personal Information for as long as permitted by law and as long as is necessary to permit you
            to use our Service without the requirement of resubmitting the same information.</p>
        <h2>What we do NOT do</h2>
        <p>We do not and will not, at any time, request your credit card information, login name, or password, in an
            unsecure or unsolicited e-mail or telephone communication.</p>
        <h2>Do Not Track disclosure</h2>
        <p>Mobile device users can set their device preferences to Do Not Track ("DNT") to tell websites and services not to
            collect information from that device. However, we do not recognize or respond to DNT signals.</p>
        <h2>What else should you know about your privacy?</h2>
        <p>If you choose to use our Service you should be aware that any information transmitted electronically via the
            Internet may not be secure. We assume no liability for the loss or misuse of any information that you transmit to
            us via the Internet.</p>
        <p>Further, the information you upload or post to publicly viewable pages on the Service is publicly available and
            may be viewed, collected, and used by other users. Please refer to <a href="javascript:void(0);" routerLink="/terms">Terms of Use</a> regarding the posting of
            content and interactions with other users, and we encourage you to caution and discretion with respect to your
            personal information.</p>
        <p>In communicating with you, we may send e-mail as unencrypted plain text because we are aware that most customers
            cannot easily process encrypted e-mail. This is done for your convenience, but with the security concern that, if
            misrouted or intercepted, it could be read more easily than encrypted e-mail.</p>
        <h2>Effective date of this Privacy Policy and future modification</h2>
        <p>This Privacy Policy is effective as of [November 7, 2017]. We reserve the right to make changes, deletions,
            modifications, or provide supplements to this policy from time to time. Changes will apply to the information
            collected after the date of changes as well as to existing information held by us and will take effect immediately
            upon publication, unless otherwise stated in writing by Kidazzler. You agree that the express acceptance by you,
            or your continued use of our Service after publication of changes, shall constitute your acceptance of the current
            Privacy Policy.</p>
        <h2>How to contact us</h2>
        <p>If you have any questions or concerns about this Privacy Policy, please contact us by email as follows:</p>
        <p>Kidazzler Team<br />info@kidazzler.com<br />Re: Privacy Policy</p>
        <p>cc: Zachary Levine, Esq.<br /> Wolk &amp; Levine, LLP<br /> zjl@wolklevine.com</p>
    </div>

    <kz-footer></kz-footer>
</div>
