<kz-header></kz-header>

<div class="login-container" *ngIf="!isSent">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" kzForm>
        <h1>Forgot Password</h1>
        <div class="small-container notes">
            Enter your email and we’ll send you a link to reset your password
        </div>
        <div class="row">
            <kz-form-field class="col">
                <input type="text" formControlName="email" required class="form-component" placeholder="i.e. name@domain.com" />
            </kz-form-field>
        </div>
        <div class="row-extra">
            <button class="btn btn-primary btn-fullwidth" [disabled]="isLoading">Retrieve
                Password
            </button>
        </div>
    </form>
</div>

<div class="login-container small-container" *ngIf="isSent">

    <div class="icon-screen">
        <img src="/assets/images/icon-success.svg" alt="" />
    </div>

    <h1>We’ve just sent you an email with a link to reset your password.</h1>
    <div class="row centered">
        <a [routerLink]="['/login']">Back to Login</a>
    </div>
</div>

<kz-footer></kz-footer>