<div class="about">
  <div class="about-header">
    <i (click)="goBack()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="7.05023" y="5.63599" width="16" height="2" rx="1" transform="rotate(45 7.05023 5.63599)"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M6.34317 17.6568C5.95264 17.2663 5.95264 16.6331 6.34317 16.2426L16.2427 6.34309C16.6332 5.95257 17.2664 5.95257 17.6569 6.34309C18.0474 6.73362 18.0474 7.36678 17.6569 7.75731L7.75738 17.6568C7.36686 18.0473 6.73369 18.0473 6.34317 17.6568Z"/>
      </svg>
    </i>
  </div>
  <div class="about-body">
    <div class="title">
      About
    </div>
    <div class="text" (click)="updateAbout()">
      {{business?.about}}
    </div>

    <div class="info-block">
      <div class="info-item" *ngIf="business?.ageFrom !== null">
        <p class="info-item__heading">
          Ages
        </p>
        <p class="info-item__text info-item__text_single" *ngIf="business?.ageFrom !== 12">
          {{business.ageFrom}} - {{business.ageTo}} years
        </p>
        <p class="info-item__text info-item__text_single" *ngIf="business?.ageFrom === 12">
          {{business.ageFrom}}+ years
        </p>
      </div>

      <div class="info-item" *ngIf="!areWorkdaysEmpty">
        <kz-working-hours [header]="'Open Hours'" [hours]="business?.workingHours"></kz-working-hours>
      </div>

      <div class="info-item">
        <p class="info-item__heading">
          Categories
        </p>
        <p class="info-item__text info-item__text_marked"
           *ngFor="let item of business?.businessTypes">
          {{item.code}}
        </p>
      </div>

      <div class="info-item" *ngIf="business?.amenities.length > 0">
        <p class="info-item__heading">
          Features
        </p>
        <p class="info-item__text info-item__text_marked"
           *ngFor="let item of business?.amenities">
          {{item.name}}
        </p>
      </div>
    </div>
  </div>
</div>
