<div class="full-grey-screen">
  <kz-header [type]="'empty'"></kz-header>
  <div class="info-page">
    <h1>Terms of Use</h1>

    <p>
      Welcome to Kidazzler. Your access to and use of our mobile application and the related website, www.kidazzler.com,
      (collectively, the "<b>Service</b>") is subject to the following terms and conditions of use (collectively, the
      "<b>Terms of Use</b>"
      or the
      "<b>Agreement</b>"). Please read these terms carefully as they constitute a <b>legally
      binding
      contract</b> between you and Kidazzler, Inc., a Delaware corporation ("<b>Kidazzler</b>," "<b>we</b>,"
      "<b>our</b>," and "<b>us</b>"). These Terms of Use apply exclusively to your access to, and use of, the Service
      and do not alter in any way the terms or conditions of any other agreements you may have with Kidazzler or its
      affiliates, successors, and assigns.
    </p>
    <p>
      These Terms of Use may be changed by Kidazzler at any time in its sole and exclusive discretion by posting the
      changes on the Service. Unless otherwise specified, the posted changes will take effect thirty (30) days from the
      date of publication. You agree that your continued use of the Service after the posted changes shall constitute
      your acceptance of the Terms of Use, as amended. In some cases, we may request that you evidence your acceptance
      of the changes to the Terms of Use through electronic means. In that case, the changes will be effective as of the
      date and time of your acceptance.
    </p>


    <h2>Section 1. Use of the Service</h2>
    <p>
      1.1 If you do not agree to these Terms of Use, our <a href="javascript:void(0);" routerLink="/privacy">Privacy
      Policy</a>, or any other policy governing your access to or use of the Service you should immediately terminate
      your access to or use of the Service. If you have any questions regarding these terms or your access to or use of
      the Service, please contact info@kidazzler.com.
    </p>
    <p>
      1.2 You must be 18 years of age or older to use the Service and may only do so with a single user account. By
      using the Service, you represent and warrant that you are an individual of legal age, authority, and capacity to
      enter into a binding legal agreement.
    </p>
    <p>
      1.3 You will not access or use the Service if you (a) have previously been banned from the Service; (b) have
      previously closed a user account created through the Service (the "Account"); (c) have an existing user account
      with the Service; or (d) are currently, or have previously been, employed by, or own or operate, a company that
      offers a mobile application or website service that could reasonably be described as a competitor to Kidazzler or
      the Service.
    </p>
    <p>
      1.4 If you create an Account or otherwise access the Service from a country other than the United States and
      Canada, certain Service features may be unavailable to you.
    </p>
    <p>
      1.5 Kidazzler may, in its sole discretion, request information from you to confirm your identity, your location,
      or your compliance with these terms. Failure to provide reasonably requested information will result in a
      termination of your account, forfeiture of any rewards or Kidollars, and disqualification from participation in
      further programs or services offered. If it is determined that you misrepresented any information when signing up
      for an account, such as your location or eligibility to participate, you will immediately forfeit your account and
      all associated Kidollars and be disqualified from further participation.
    </p>
    <p>
      1.6 Reference to any products, services, processes or other information, by trade name, trademark, manufacturer,
      supplier, or otherwise does not constitute or imply endorsement, sponsorship, or recommendation thereof by
      Kidazzler.
    </p>

    <h2>Section 2. License to Use the Service</h2>
    <p>
      2.1 We grant you a limited, nonexclusive, non-transferable, revocable license to use the Service through a single
      Account and in accordance with these Terms of Use. You will not assign or sublicense this license to a third
      party, or use the Service on behalf of or for the benefit of any third party. You further agree not to use the
      Service in any way contrary to the terms of this Agreement or to the state or federal laws of the United States,
      or whichever country from which you access the Service.
    </p>

    <h2>Section 3. Code of Conduct and Prohibited Activities</h2>

    <p>
      3.1 When using the Service, you will behave in a civil and respectful manner. We reserve the right to suspend
      and/or terminate your Account if you misuse the Service or behave in a way that we regard as inappropriate or
      unlawful, whether through the Service or off the Service if such behavior involves users you meet through the
      Service. The following is a partial list of actions you will not engage in with respect to the Service or other
      users thereof. You will not:
    </p>
    <ul>
      <li>"stalk", harass, harm, intimidate, or exploit any other Service user;</li>
      <li>impersonate any person or entity, or act in any other deceptive manner;</li>
      <li>express or imply that any statements you make are endorsed by Kidazzler without our specific prior consent;
      </li>
      <li>use the Service to commit an illegal act or act in an illegal manner;</li>
      <li>distribute "spam";</li>
      <li>use any robot, spider, site search/retrieval application, or other manual or automatic device or process to
        retrieve, index, "data mine," or in any way reproduce or circumvent the navigational structure of the Service or
        its contents;
      </li>
      <li>use any method, directly or indirectly, to artificially inflate or increase your rewards through the Rewards
        Program, as detailed in Section 8 below, or cause other users to engage in acts that would inflate or increase
        such rewards;
      </li>
      <li>use the Service through more than one account;</li>
      <li>attempt to sell, trade, barter, assign, or otherwise transfer Kidollars other than as permitted through the
        Service;
      </li>
      <li>interfere with or disrupt the Services or related networks or servers; or
      </li>
      <li>
        sublicense, sell, modify, adapt, translate, reverse engineer, decipher, decompile, or otherwise disassemble any
        portion of the Service, or any software used in connection with the Service, or cause others to do so.
      </li>
    </ul>

    <p>
      3.2 Commission of any of these prohibited actions/activities will be determined in the sole discretion of
      Kidazzler and constitutes grounds for immediate termination of your right to use and/or access the Service and can
      result in the permanent deletion of your Account.
    </p>

    <h2>Section 4. Content That You Post</h2>

    <p>
      4.1 You are solely responsible for the content and information that you post, upload, transmit, link to, record,
      display, or otherwise make available on the Service (collectively, “post”), including any type of textual, video,
      photographic, or audio content whether publicly posted or privately transmitted (collectively, the “Content”).
    </p>
    <p>
      4.2 We reserve the right, but disclaim the obligation, to screen, review, filter, modify, censure, delete, or
      otherwise moderate any or all of the Content uploaded to, or downloaded from, the Service. In our sole discretion,
      we may monitor or review any Content you upload; however, no such review or similar actions will require us to
      continue to take such actions.
    </p>
    <p>
      4.3 We will use commercially reasonable security measures to maintain the security of your Content, however, you
      will not rely on this security and are personally responsible for taking the necessary steps to protect and backup
      your Content. You hereby agree that the security, if any, provided by Kidazzler is not and will not be a
      contributing factor to your decision to use the Service. We reserve the right to modify, or discontinue, our
      security measures at any time and without notice.
    </p>
    <p>
      4.4 You retain all ownership, rights, and interest in and to the Content that you post to the Service.
    </p>
    <p>
      4.5 You will not post Content that, in the sole judgment of Kidazzler:</p>
    <ul>
      <li>
        promotes racism, bigotry, hatred, or physical or emotional harm of any kind against any group or individual;
      </li>
      <li>
        uses offensive epithets or is otherwise intended to demean Kidazzler and/or other users;
      </li>
      <li>
        constitutes or advocates harassment or intimidation of any group or individual;
      </li>
      <li>
        is obscene, pornographic or sexually explicit;
      </li>
      <li>
        provides instructional information about or advocates any illegal activities;
      </li>
      <li>
        contains any malware, spyware, viruses, Trojan horses, worms, or other malicious or harmful code, components,
        or devices;
      </li>
      <li>
        solicits information from users who are under the age of 18;
      </li>
      <li>
        solicits personal identifying information from other users for commercial or unlawful purposes
      </li>
      <li>
        involves the transmission “spam” or “junk” mail;
      </li>
      <li>
        promotes competing services or directories;
      </li>
      <li>
        promotes enterprises which are inconsistent with the purpose and the scope of Kidazller;
      </li>
      <li>
        contains premium line telephone numbers without an adequate disclosure of additional charges;
      </li>
      <li>
        is derogatory, defamatory or libelous;
      </li>
      <li>
        is inaccurate, misleading, false, or fraudulent; or
      </li>
      <li>depicts another person or his/her likeness without that person’s consent.
      </li>
    </ul>

    <p>
      Any posting of the foregoing types of Content is grounds for immediate termination of your right to use and/or
      access the Service and can result in the permanent deletion of your Account.
    </p>

    <h2>Section 5. Your Representations and Warranties</h2>

    <p>
      5.1 You represent and warrant that (1) you have the required rights, permission, and/or license to upload Content;
      (2) Kidazzler will not need to pay royalties to or obtain a license from any third party relating to your
      uploading of Content; (3) any uploaded Content does not infringe on the rights of any third party, violate any
      applicable laws, violate the terms of this Agreement, or violate any other agreement to which you are bound; (4)
      the Content is free from any malware, spyware, viruses, Trojan horses, worms, or other malicious or harmful code;
      and (5) all information that you submit upon creation of your Account, including information submitted from your
      Facebook account, is accurate and truthful and that you will promptly update any such information that
      subsequently becomes inaccurate.
    </p>

    <h2>Section 6. Your License to Kidazzler</h2>

    <p>
      6.1 By using the Service, you grant Kidazzler a perpetual, irrevocable, worldwide, royalty-free, and non-exclusive
      license to reproduce, copy, store, adapt, modify, translate, publish, publicly perform, publicly display, and
      distribute any Content that you post through the Service. Your grant of this license is for the purpose of
      Kidazzler’s operating, developing, promoting, providing, and improving the Service, including the performance of
      any required maintenance or to investigate, or address, your full and complete compliance with these terms.
    </p>

    <p>
      6.2 Anything you post, upload, share, store, or otherwise provide through the Service is your “Content.” Some
      Content is viewable by other users. In order to display your Content on the Services, and to allow other users to
      enjoy them (where applicable), you grant us certain rights in the Content. Please note that all of the following
      licenses are subject to our <a href="javascript:void(0);" routerLink="/privacy">Privacy
      Policy</a> to the extent they relate to Content that are also your
      personally-identifiable information.
    </p>

    <p>
      6.3 For all Content, you hereby grant Kidazzler a license to translate, edit, modify (for technical purposes, for
      example making sure your content is viewable on an iPhone, Android phone, as well as a computer) and reproduce and
      otherwise act with respect to such Content, in each case to enable us to operate the Service, as described in more
      detail below. This is a license only – your ownership in Content is not affected.
    </p>

    <h2>Section 7. Privacy</h2>

    <p>
      7.1 We respect the privacy of our visitors and encourage you to read our
      <a href="javascript:void(0);" routerLink="/privacy">Privacy
        Policy</a> so that you may make an informed decision about using our Service and see how we are using the
      information that we gather.
    </p>
    <p>
      7.2 Further, to improve your experience when using the Service, we may communicate with third parties on your
      behalf. You hereby allow Kidazzler to communicate with third parties on your behalf for such purposes as (i)
      notification that you have invited the party to join the Service; (ii) notification that the party has
      successfully joined the Service; and (iii) other purposes relating to the parties’ use of the Service.
    </p>

    <h2>
      Section 8. Rewards Program
    </h2>

    <p>
      8.1 As a way of thanking you for using the Service, use of the Service in accordance with these Terms of Use
      automatically enrolls you in the Kidazzler Rewards Program (the “Program”).
    </p>
    <p>
      8.2 By performing certain Program activities through the Service (the “Activities”) you may earn certain digital
      units of recognition that we refer to as “Rewards” or “Kidollars”.
    </p>
    <p>
      8.3 You may earn Rewards providing the Service with the information about a business in the country of your
      residence. You cannot add a business, which has already been added by another user. Correspondingly, once a
      business is added by you, that business cannot be added to the Service by any other Service user. Kidazzler
      reserves the right to limit the number of businesses each user can add to the Service.
    </p>

    <p>
      8.4 When you add a business to the Service, Kidazzler will validate and verify your submission to ensure that
      there are no duplicate entries based on the available business contact information. If duplicate records are
      found, Kidazzler, in its sole discretion, will assign the business to the Account of one of the users based upon
      such factors as the timing of adding the listing information, accuracy and completeness of the information
      provided, and other factors relevant under the circumstances.
    </p>
    <p>
      8.5 If a business added by you to the Service pays to Kidazzler a service fee in exchange for the receipt of
      Kidazzler’s services, that business becomes a “Paying Business” (also referred to as the “Member Business”).
      Kidazzler retains the right to assign the “Member Business” status to any other business of its choice, in its
      absolute discretion. You will receive Rewards with respect to each Member Business assigned by Kidazzler to your
      Account. A business, which has been “claimed” by its owner (i.e. the owner reviewed the listing and verified its
      accuracy) may or may not be a Member Business entitling you to Rewards. A business will not lose its “Member
      Business” status unless it stops paying for Kidazzler’s services. A business, which has stopped payments to
      Kidazzler or which had been awarded a “Member Status” for any other reason (e.g. promotional, marketing, or free
      trial campaigns) may lose its Member Status at any time in Kidazzler’s sole discretion.
    </p>
    <p>
      8.6 You may earn Rewards for inviting friends to use the Service only if your friends join the Service under your
      invitation code and add qualifying business listings to the Service that ultimately become Paying Businesses.
    </p>
    <p>
      8.7 Any Rewards that you earn through the Program will be credited as Kidollars to Rewards Wallet unique to your
      Account (the “Rewards Wallet”). Before you may redeem your Kidollars, your Account must be authenticated in
      accordance with Kidazzler’s applicable policies and procedures. In addition, as part of the Rewards Wallet setup,
      you must enter information of a Service-approved third payment processor (e.g. Venmo, Paypal). Your Kidollars will
      be redeemed on a monthly basis. Any Kidollars, which cannot be redeemed because you have failed to authenticate
      your Account or have failed to provide us with correct payment information, will be expunged (i.e. Kidollars
      cannot be stored and accumulated in the Rewards Wallet from month to month).
    </p>
    <p>
      8.8 Each Kidollar within the Service is treated as one (1) unit of the currency utilized in the country of your
      residence. For example, if you reside in the United States, one Kidollar is treated as an equivalent of $1 U.S.
      Dollar for redemption purposes. Similarly, if you reside in Canada, one Kidollar is treated as an equivalent of $1
      Canadian Dollar for redemption purposes. Kidollars are not a unit of ownership of Kidazzler and do not entitle any
      user of the Service to any voting, ownership, or equity rights in Kidazzler. Think of Kidollars as a referral fee,
      a way for Kidazzler to thank you for using the Service and to encourage you to help Kidazzler grow and succeed so
      that it can benefit more participating parents. Without your efforts in adding businesses and encouraging them to
      sign up for Kidazzler’s services, we would not be able to grow, therefore, we think it is only fair that you share
      in our success.
    </p>
    <p>
      8.9 Depending on the applicable tax laws in your jurisdiction, your receipt of Rewards may be subject to reporting
      to certain tax authorities. In accordance with such laws, Kidazzler may be required to send you and file certain
      forms with tax authorities, such as the IRS Form 1099-MISC (Miscellaneous Income), for any year in which rewards
      are issued. Receipt of Rewards and your ongoing eligibility to participate in the program are contingent upon your
      participation in fully complying with these requirements. If required to make a tax filing, Kidazzler may request
      certain tax-related information from you. Your redemption of Rewards may be delayed if relevant information is not
      provided in a timely manner.
    </p>

    <h2>Section 9. Term and Termination</h2>

    <p>
      9.1 This Agreement will remain in full force and effect while you use the service and/or have an Account. You may
      terminate your Account at any time by closing your Account, discontinuing any access to or use of the Service,
      and/or providing Kidazzler with a notice of termination by contacting support@kidazzler.com. We may close your
      Account, suspend your ability to use certain portions of the Service, terminate any license or permission granted
      to you hereunder, and/or ban you altogether from the Service for any reason whatsoever including, without
      limitation a breach of this Agreement or other conduct, which is inconsistent with the values and standards of the
      Kidazzler community. No advance notice of termination is required. If there are accrued Rewards in your Rewards
      Wallet at the time of termination, Kidazzler may, in its sole discretion, suspend, revoke, delay, or disburse
      those Rewards.
    </p>

    <h2>Section 10. Copyright</h2>

    <p>
      10.1 Unless otherwise indicated, all Service materials, including, without limitation, text, the Kidazzler name
      and logo, and all designs, text graphics, other files, and the selection and arrangement thereof, are the
      proprietary and copyrighted property of Kidazzler or its licensors. You may electronically copy and print to hard
      copy portions of the Service for the sole purpose of using materials it contains for informational and
      non-commercial use. Reproduction for purposes other than described above, modification, distribution,
      republication, display, or performance—without the prior written permission of Kidazzler—is strictly prohibited.
      See Section 10, below, for the proper procedure for filing a copyright infringement notice.
    </p>

    <h2>Section 11. Trademarks and Infringement</h2>

    <p>
      11.1 Kidazzler, the Kidazzler website, the Kidazzler logo, and any proprietary product or service names contained
      on the Service are either trademarks or registered trademarks of Kidazzler or its licensors, and may not be
      copied, imitated, or used, in whole or in part, without our prior written permission. In addition, all page
      headers, custom graphics, button icons, and scripts are service marks, trademarks, and/or trade dress of
      Kidazzler, and may not be copied, imitated, or used, in whole or in part, without our prior written permission.
      All other trademarks, registered trademarks, product names and company names, or logos mentioned herein are the
      property of their respective owners.
    </p>
    <p>
      11.2 If you believe that any material on the Service infringes upon any copyright or trademark that you own or
      control, you may file a notice of such infringement (“Notice”) with our legal counsel:
    </p>

    <p>
      Biana Borukhovich, Esq.<br/>
      1460 Broadway<br/>
      New York, NY 10036<br/>
      Biana@bb-lawfirm.com
    </p>

    <p>Please provide the following with your Notice:</p>

    <ul>
      <li>Identify the material on the site that you claim is infringing, with enough detail so that we may locate it
        on the Service;
      </li>

      <li>a statement by you that you have a good faith belief that the disputed use is not authorized by the
        copyright owner, its agent, or the law;
      </li>

      <li>a statement by you declaring under penalty of perjury that (1) the above information in your Notice is
        accurate, and (2) that you are the owner of the copyright interest involved or that you are authorized to act on
        behalf of that owner;
      </li>

      <li>your address, telephone number, and email address; and</li>

      <li>your physical or electronic signature.</li>
    </ul>
    <p>
      Kidazzler will remove the infringing posting(s), subject to the procedures outlined in the Digital Millennium
      Copyright Act (DMCA).
    </p>

    <h2>Section 12. User Feedback</h2>

    <p>
      12. 1 By sending us any ideas, suggestions, critiques, or feedback (the “Feedback”), you agree that (i) the
      Feedback does not contain the confidential or proprietary information of third parties; (ii) Kidazzler has no
      obligation of confidentiality, express or implied, with respect to the Feedback; and (iii) you grant us an
      irrevocable, non-exclusive, royalty-free, perpetual, worldwide license to use, modify, publish, display,
      distribute, and sublicense the Feedback.
    </p>

    <h2>
      Section 13. Changes to the Service
    </h2>
    <p>
      13.1 We are always trying to improve the Service, so it may change over time. We may suspend or discontinue any
      part of the Service, or we may introduce new features or impose limits on certain features or restrict access to
      parts or all of the Service. We will try to give you notice when we make a material change to the Service that
      would adversely affect you, but this is not always practical or commercially achievable. Similarly, we reserve the
      right to modify or discontinue, temporarily or permanently, any and all Content contained on the Service at any
      time with or without notice. We reserve the right to investigate any suspicious or inappropriate activity relating
      to the Service and to suspend or terminate a user’s account during or after such investigation.
    </p>

    <h2>
      Section 14. Links to Websites and Services.
    </h2>
    <p>
      14.1 Kidazzler does not control the availability or content of any outside websites, application, services, or
      resources (collectively, “third party services”) to which the Service may link. Concerns regarding any such third
      party services or links thereto should be directed to the particular outside third party service. Unless stated
      otherwise, Kidazzler does not endorse, sanction, or verify third party services to which our Services link, and we
      or our users provide these links merely for the convenience of users of our Service. Access to such third party
      services is at your own risk, and we disclaim all liability with regard to your access to such third party
      services. In addition, we do not endorse, sanction, or verify third party services that link to our Services, even
      if any logo or mark of Kidazzler is used as part of the link to our Service.
    </p>
    <p>
      14.2 We grant you a limited, non-exclusive license to link to the Kidazzler website, so long as such linking does
      not violate or contribute to the violation of, or seek to induce others to violate or contribute to the violation
      of, any of the prohibited activities listed in Section 3 of this Agreement. We may revoke this license at any time
      without notice or cause.
    </p>

    <h2>
      Section 15. Data Changes
    </h2>
    <p>
      15.1 If you terminate your Account or delete/change your data or Content, we usually update our live databases
      immediately. However, some data may update more slowly, and some old data may remain in our archives and records.
      Also, we may be unable to propagate changes to partners who receive your data or content. If your Account is being
      terminated or suspended, we may maintain some data to prevent re-registration.
    </p>

    <h2>Section 16. Disclaimer of Liabilityr</h2>

    <p>
      THE SERVICE AND THE MATERIALS ON THE SERVICE ARE PROVIDED ON AN “AS IS” BASIS WITHOUT WARRANTIES OF ANY KIND,
      EITHER EXPRESS OR IMPLIED. YOUR USE OF THE SERVICE IS AT YOUR OWN RISK. KIDAZZLER DISCLAIMS ALL WARRANTIES,
      EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
      PURPOSE, TITLE AND NON-INFRINGEMENT. KIDAZZLER DOES NOT REPRESENT OR WARRANT THAT MATERIALS ON THE SERVICE,
      INCLUDING WITHOUT LIMITATION ANY INFORMATION ABOUT KIDAZZLER OR SERVICES PROVIDED BY THIRD PARTIES, ARE ACCURATE,
      COMPLETE, RELIABLE, CURRENT OR ERROR-FREE. KIDAZZLER DOES NOT REPRESENT OR WARRANT THAT THE SERVICE OR ITS RELATED
      SERVER(S) ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
    </p>
    <p>
      KIDAZZLER IS NOT RESPONSIBLE FOR YOUR INTERACTIONS WITH OTHER USERS. KIDAZZLER MAKES NO REPRESENTATIONS OR
      WARRANTIES AS TO THE CONDUCT OF ITS USERS, AND CANNOT GUARANTEE THAT CONTENT POSTED BY OTHER USERS WILL COMPLY
      WITH THIS AGREEMENT. YOU UNDERSTAND THAT KIDAZZLER DOES NOT CONDUCT CRIMINAL BACKGROUND CHECKS ON ITS USERS, BUT
      RESERVES THE RIGHT TO CONDUCT ANY CRIMINAL BACKGROUND CHECK OR OTHER SCREENINGS AT ANY TIME USING AVAILABLE PUBLIC
      RECORDS.
    </p>
    <p>
      IN NO EVENT SHALL KIDAZZLER OR ITS OFFICERS, DIRECTORS, SHAREHOLDERS OR EMPLOYEES BE LIABLE FOR ANY DIRECT,
      INDIRECT, SPECIAL OR CONSEQUENTIAL DAMAGES, OR ANY OTHER DAMAGES OF ANY KIND WHETHER IN AN ACTION IN CONTRACT,
      TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE) OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE
      OR INABILITY TO USE THE SERVICE OR THE MATERIALS CONTAINED IN, OR ACCESSED THROUGH, THE SERVICE, INCLUDING WITHOUT
      LIMITATION ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY USER ON ANY INFORMATION OBTAINED FROM KIDAZZLER, OR
      THAT RESULTS FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETION OF FILES, CONTENT, OR E-MAIL, ERROR, DEFECTS,
      VIRUSES, DELAYS IN OPERATION OR TRANSMISSION OF ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF
      GOD, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO KIDAZZLER’S RECORDS, PROGRAMS, OR
      SERVICES.
    </p>
    <p>
      IN NO EVENT SHALL THE AGGREGATE LIABILITY OF KIDAZZLER (WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE
      WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY, OR OTHER THEORY) ARISING OUT OF OR
      RELATING TO THE USE OF THE SERVICE EXCEED ANY COMPENSATION YOU PAY, IF ANY, TO KIDAZZLER FOR ACCESS TO OR USE OF
      THE SERVICE.
    </p>

    <h2>
      Section 17. Indemnity
    </h2>

    <p>
      You agree, to the extent permitted under applicable law, to indemnify, defend, and hold harmless Kidazzler, our
      affiliates, and their and our respective officers, directors, agents, employees, partners, and representatives
      from and against any and all complaints, demands, claims, damages, losses, costs, liabilities, and expenses
      (including attorney’s fees) due to, arising out of, or relating in any way your access to or use of the Service,
      your Content, or your breach of this Agreement.
    </p>

    <h2>Section 18. Linking to Our Website</h2>

    <p>
      We grant you a limited, non-exclusive license to link to the Kidazzler website, so long as such linking does not
      violate or contribute to the violation of, or seek to induce others to violate or contribute to the violation of,
      any of the prohibited activities listed in Section 3 of this Agreement. We may revoke this license at any time
      without notice or cause.
    </p>

    <h2>Section 19. Severability and Non-Waiver</h2>

    <p>
      If any provision of these Terms of Use is deemed unlawful, void, or for any reason unenforceable, then that
      provision will be deemed severable from these Terms of Use and will not affect the validity and enforceability of
      any remaining provisions. The failure of Kidazzler to insist upon or enforce strict performance of any of the
      provisions of these Terms of Use or to exercise any rights or remedies under these Terms of Use will not be
      construed as a waiver or relinquishment to any extent of Kidazzler’s right to assert or rely upon any such
      provisions, rights, or remedies in that or any other instance; rather, the same will be and remain in full force
      and effect.
    </p>

    <h2>Section 20. Force Majeure</h2>

    <p>
      Kidazzler will not be liable for any delay in Service resulting from any cause beyond its reasonable control or
      caused by acts of God, acts of civil or military authorities, priorities, strikes, fires, earthquakes, floods or
      other disasters, epidemics, governmental rules or regulations, war, riot, delays in transportation or shortages,
      power failures, or server downtime.
    </p>

    <h2>Section 21. Merger</h2>

    <p>
      This Agreement constitutes the entire Agreement between the user and Kidazzler concerning the use of the Service,
      and cancels and supersedes any prior understandings and agreements between the parties hereto. There are no
      representations, warranties, terms, conditions, undertakings, or collateral agreements, expressed, implied, or
      statutory, between the parties other than as expressly set forth in this Agreement.
    </p>

    <h2>Section 22. Applicable Law and Arbitration</h2>

    <p>
      22.1 The laws of the State of California will govern and construe these Terms of Use without giving effect to any
      conflict of laws provision to the contrary. By use of the Service, you irrevocably consent for any reason and all
      disputes with Kidazzler to the venue of state or federal courts located in the State of California. If you access
      the Service from outside the United States, you do so at your own risk and are responsible for compliance with the
      laws of your jurisdiction.
    </p>
    <p>
      22.2 Any and all controversies, claims, or disputes arising out of or relating to this Agreement or the breach
      thereof, whether involving remedies at law or in equity, will be submitted to arbitration and adjudicated in the
      City of Los Angeles and the State of California in accordance with the rules of the American Arbitration
      Association. YOU ALSO GIVE UP YOUR RIGHT TO PARTICIPATE IN A CLASS ACTION OR OTHER CLASS PROCEEDING. The losing
      party will bear the cost of arbitration, and the judgment upon award may be entered in any court having
      jurisdiction thereof. The arbitrator will issue a formal written opinion and will be the sole party to decide
      issues of unconscionability and the enforceability of this Agreement. If either party refuses to perform any or
      all of its obligations under the final arbitration award (following appeal, if applicable) within thirty (30) days
      of such award being rendered, then the other party may enforce the final award in any court of competent
      jurisdiction in Los Angeles County. The party seeking enforcement shall be entitled to an award of all costs, fees
      and expenses, including attorneys’ fees, incurred in enforcing the award, to be paid by the party against whom
      enforcement is ordered.
    </p>
    <p>
      22.3 Any dispute or portion thereof, or any claim for a particular form of relief (not otherwise precluded by any
      other provision of this Agreement), that may not be arbitrated pursuant to applicable state or federal law may be
      heard only in a court of competent jurisdiction in Los Angeles County.
    </p>

    <h2>Section 23. NOTICE FOR CALIFORNIA CONSUMERS</h2>

    <p>
      Under California Civil Code Section 1789.3, California users of the Kidazzler website or Service, upon use of
      applicable services (as defined by California Civil Code Section 1789.2) may file a complaint regarding an
      applicable service and receive further information on resolving such complaints from the Complaint Assistance Unit
      of the Division of Consumer Services of the Department of Consumer Affairs online at http://www.dca.ca.gov/ or
      call 800.952.5210 to have a complaint form mailed to you.
    </p>

    <h2 style="font-size: 18px;">Section 24. ADDITIONAL TERMS FOR BUSINESS ACCOUNTS</h2>

    <p style="font-size: 14px;">
      The following terms (the <b>“Business Terms”</b>), in addition to the Terms of Use above, govern your access to
      and use
      of your Business Account. In the event of any conflict between these Business Terms and the Terms of Use, the
      Business Terms apply. Unless expressly defined within the Business Terms, capitalized words used but not defined
      in these Business Terms have the meanings described in the Terms of Use. By creating, accessing, or using your
      Business Account, you are agreeing to these Business Terms and concluding a legally binding contract with
      Kidazzler. You are not authorized to create, access, or use a Business Account if you do not agree to these
      Business Terms.
    </p>

    <h2 style="font-size: 18px;">
      PLEASE READ THESE BUSINESS TERMS CAREFULLY AS THEY REQUIRE THE USE OF ARBITRATION ON AN INDIVIDUAL BASIS TO
      RESOLVE DISPUTES, RATHER THAN TRIALS OR CLASS ACTIONS, AND ALSO LIMIT THE REMEDIES AVAILABLE TO YOU IN THE EVENT
      OF A DISPUTE.
    </h2>

    <div style="font-size: 14px;">

      <ol>
        <li>
          <b>The Nature of Participation with Kidazzler</b>
          <ol style="list-style-type: lower-alpha;">
            <li>
              In order to access or use the Service, you agree that:
              <ol style="list-style-type: lower-roman;">
                <li>
                  you have the authority to act on behalf of the business or businesses associated with or claimed
                  through your Business Account and bind any such business (including any corresponding business entity)
                  to the Business Terms (such business or businesses, are hereafter to referred to as <b>“your
                  Business”</b>);
                </li>
                <li>
                  your access to or use of the Business Site will only be in your capacity as an authorized
                  representative of your Business;
                </li>
                <li>
                  you will not use the Consumer Site for business activities, including but not limited to flagging
                  reviews or messaging people who have reviewed your Business;
                </li>
                <li>
                  your Business complies with applicable laws and does not offer, advertise, sell, or lease illegal
                  products and/or services;
                </li>
                <li>
                  you grant Kidazzler a non-transferable, non-exclusive, royalty-free limited license to display your
                  public website on the Service, or allow for its display through iframes or other framing technology;
                </li>
                <li>
                  you agree that we may contact you, including by phone or email, using the contact information you
                  provide us, make publicly available, or that we have on record for your business, and that our
                  communications (including phone calls) with you may be monitored and recorded for quality purposes;
                </li>
                <li>
                  you understand that we may display health score information for your Business, and may place a
                  Consumer Alert regarding that health score, on the business page for your Business;
                </li>
                <li>
                  you understand and acknowledge that non-disparagement clauses in certain consumer contracts, such as
                  clauses that seek to restrict or prohibit reviews (including provisions that penalize consumers for
                  posting reviews) about your Business, are prohibited under California law (Cal. Civil Code § 1670.8)
                  and under the federal Consumer Review Fairness Act (15 U.S. Code § 45b) and you agree that you will
                  not include such clauses in your consumer contracts, or otherwise attempt to enforce non-disparagement
                  or ‘gag’ clauses against consumers under any circumstances. You understand that we may publicly notify
                  consumers, including by placing a Consumer Alert on the business page for your Business, if we have a
                  good faith belief that such clauses are used by your Business.
                </li>
              </ol>
            </li>
            <li>
              You represent and warrant that you will not, and will not authorize or induce any other party, to:
              <ol style="list-style-type: lower-roman;">
                <li>
                  offer incentives of any kind, such as discounts, free products or services, refunds, gift cards,
                  contest entries, offers, or special deals in exchange for the posting of reviews of your Business, or
                  to prevent or remove reviews, and you understand and acknowledge that Kidazzler, through its Consumer
                  Alerts, may publicly notify consumers about such incentives and other attempts to obtain, prevent, or
                  remove reviews;
                </li>
                <li>
                  solicit or ask for reviews from your customers;
                </li>
                <li>
                  write reviews or vote on Content (e.g., voting user reviews as useful, funny, or cool) for your
                  Business or your Business’s competitors;
                </li>
                <li>
                  pay or induce anyone to post, refrain from posting, or remove reviews.
                </li>
                <li>
                  attempt to generate automated, fraudulent, or otherwise invalid ad impressions, inquiries,
                  conversions, ad clicks, or other actions;
                </li>
                <li>
                  use any automated means or form of scraping or data extraction to access, query or otherwise collect
                  Kidazzler data, content and/or reviews from the Consumer Site or the Business Site.
                </li>
                <li>
                  use any Kidazzer trademark or service mark in any manner without Kidazzler’s prior written consent; or
                </li>
                <li>
                  misrepresent your identity or affiliation to anyone in connection with Kidazzler.
                </li>
              </ol>
            </li>
            <li>
              You understand and acknowledge that Kidazzler allows consumers to post Content about your Business,
              including photos, ratings, and reviews. You understand and acknowledge that Kidazzler may employ an
              automated software in an effort to showcase the most reliable and useful reviews while displaying other
              reviews less prominently. You understand and acknowledge that while Kidazzler’s software may identify
              potentially less helpful reviews, the software may sometimes suppress legitimate reviews or fail to detect
              illegitimate reviews. You understand and acknowledge that any purchase of advertising or other paid
              features from Kidazzler will not influence review software or otherwise allow or enable You, directly or
              indirectly, to alter reviews or impact whether, where, or how reviews appear on Kidazzler.
            </li>
          </ol>
        </li>

        <li>
          <b>Representations and Warranties.</b> You represent that all of the following is true:
          <ul style="list-style-type: disc;">
            <li>
              You are an authorized representative of your Business and have an authority to enter into agreements on
              its behalf.
            </li>
            <li>
              You understand that the Business (or you) will be charged a <b>non-refundable</b> fee in connection with
              marketing and
              promotion of your Business. Your subscription will be automatically renewed and billed on a recurring
              basis on the
              same day the following month or year depending on the plan, unless you cancel before the anniversary.
              After renewal,
              cancellation will apply only for future billing cycle.
            </li>
            <li>
              You understand that Kidazzler’s editors, in their sole and final judgment, shall determine the
              suitability, placement, title and description of the business listings listed in the Kidazzler directory.
            </li>
            <li>
              The business you are submitting is operating in the United States of America or Canada in compliance with
              all applicable laws and regulations.
            </li>
            <li>
              You understand that it takes 1-3 business days to process this order and you will receive a confirmation
              email when it is completed.
            </li>
            <li>
              You understand that Kidazzler users a third-party payment processor (the "Payment Processor") to bill you
              through a payment account linked to your account on the Services (your "Billing Account") for use of the
              Upgrade Features. The processing of payments will be subject to the terms, conditions and privacy policies
              of the Payment Processor in addition to these Terms. We are not responsible for error by the Payment
              Processor. By choosing to Upgrade your Service, you agree to pay us, through the Payment Processor, all
              charges at the prices then in effect for any use of such Upgrade Services in accordance with the
              applicable payment terms, and you authorize us, through the Payment Processor, to charge your chosen
              payment provider (for example, a credit or debit card you provide) (your "Payment Method"). You agree to
              make payment using that selected Payment Method. We reserve the right to correct any errors or mistakes
              that the Payment Processor makes even if it has already requested or received payment.
            </li>
          </ul>
        </li>
      </ol>

      <p>
        <b>Kidazzler’s Fees.</b> Certain parts of the Site and Services may be accessed and used without charge. For use
        of certain other parts of our Site and Services, however, you are required to pay applicable fees which may
        change
        from time to time subject only to your right to terminate such Services in accordance with the terms thereof.
        Current fee information is available in your Business Account. All fees due from you to us hereunder, including
        to
        the extent applicable, transaction-based service fees, monthly fees, annual fees, one-time fees, takedown fees,
        and the like, are referred to herein as “Kidazzler Fees.” All Kidazzler Fees are provided in US dollars for US
        members and Canadian dollars for Canadian members unless otherwise stated.
      </p>

      <p>
        <b>25. Termination. </b> You can cancel your Account at any time by contacting Kidazzler’s customer support. We
        can cancel your account, or otherwise refuse service to you, at any time for any reason (including repeat
        infringement).
      </p>

      <p>
        <b>26. Refunds. </b>All sales are final and will not be refunded, unless specifically agreed to otherwise by us.
      </p>

      <p>
        <b>5. Purpose and Nature of the Service.</b> Our Service is intended for the purpose of: (i) providing a forum
        for
        businesses, merchants, and service providers to post information about themselves and (ii) facilitating
        engagements with users of the Service. You represent that you understand and agree that Kidazzler is not and
        will not in any way be construed to be a party to any contract, agreement, or transaction, which may result
        from, or be facilitated by, your participation with Kidazzler. We provide no guarantees whatsoever in connection
        with the volume or value of business, which may be generated as a result of being promoted in Kidazzler. Failure
        to receive an outcome you deem undesirable will not entitle you or your Business to a refund of any payment.
        Furthermore, Kidazzler does not take responsibility for the content of any member profile, or member service
        offered on any profile. Kidazzler does not endorse, sanction or verify, and specifically disclaims
        responsibility or liability for, any member or user profiles. Concerns regarding any such service, resource, or
        link posted or offered by a member should be directed to the particular member. Generally, Kidazzler does not
        endorse, sanction, or verify members on this website. Contacting these members, whether through our services or
        separately is at your own risk, and we disclaim all liability with regard to your dealings with any member
        listed within our Services.
      </p>

      <p>
        <b>27. Prohibited Business Activity.</b> You hereby acknowledge that Kidazzler has been created to promote
        family-oriented and children-friendly businesses, establishments, and services (the “Acceptable Activities”).
        You hereby agree that we, in our sole discretion, may remove from Kidazzler any business, establishment,
        service, product, or activity, which does not correspond to the scope of Acceptable Activities.
      </p>

      <p>
        <b>28. No Partnership, Agency, or Affiliation.</b> Except only as expressly provided otherwise herein, by using
        the Services you acknowledge and agree that Kidazzler is not the partner, agent, joint venturer, or otherwise an
        affiliate of you, any member, or any other user of the Service.
      </p>

      <p>
        <b>29. Payment of Upgrade Fees. </b>By Upgrading your Business Account, you authorize us to charge your credit
        card, debit card or other payment method at such time. You agree that we may charge all Kidazzler Fees owed in
        connection with your Upgrade Option (the “Upgrade Fees”) to the payment method (e.g., credit card, PayPal
        account, debit card, etc.) you have provided to us. You are solely responsible for the timely payment of all
        Upgrade Fees. It is your responsibility to notify us if your payment method has changed by making the
        appropriate changes to your account settings. If you do not provide a valid payment method, or if your
        designated payment method is determined by us to be inactive for any reason, we may immediately discontinue
        providing Services to you. Purchases will appear on your credit or debit card statements as “Kidazzler.” You
        agree not to cause your credit or debit card company to reverse or “chargeback” any Upgade Fees charged in
        accordance with these Terms; and in the event you do so, we may terminate your use of the Services, and you
        agree to reimburse us for any costs incurred in responding to such chargeback, including, without limitation,
        our actual costs paid to the credit or debit card company, including chargeback fees, and the value of the time
        our employees spend on the matter as determined in our discretion in good faith.
      </p>

      <p>
        <b>30. DISCLAIMERS AND LIMITATIONS OF LIABILITY.</b> PLEASE READ THIS SECTION CAREFULLY SINCE IT LIMITS THE
        LIABILITY OF THE KIDAZZLER ENTITIES TO YOU. FOR CLARITY, THE BELOW APPLIES IN ADDITION TO THE DISCLAIMERS AND
        LIMITATIONS OF LIABILITY DETAILED IN SECTION 10 OF THE TERMS.
      </p>

      <p>
        The federal Communications Decency Act (47 U.S. Code § 230) limits the liability of interactive computer
        services, like Kidazzler, for their role in publishing third-party Content, including consumer reviews.
        Additionally, anti-SLAPP laws, such as Cal. Civ. Proc. Code  § 425.16 in California, may require you to pay
        Kidazzler’s attorneys’ fees if you attempt to impose such liability on Kidazzler through legal proceedings.
      </p>

      <p>
        <b>31. ARBITRATION, DISPUTES, AND CHOICE OF LAW.</b> Except for Excluded Business Claims, any controversy or
        claim arising out of or relating to: (a) these Terms, or the breach thereof; or (b) your access to or use of
        your Business Account Business Site; (each such controversy or claim, a <b>“Business Claim”</b>), shall be
        settled by
        arbitration administered by the American Arbitration Association in accordance with its Commercial Arbitration
        Rules and judgment on the award rendered by the arbitrator may be entered in any court having jurisdiction
        thereof. The arbitrator will issue a reasoned award in writing, including all findings of fact and law upon
        which the award was made. The arbitrator will not have the power to commit errors of law, and the award may be
        vacated or corrected through judicial review by a court of competent jurisdiction under the California
        Arbitration Act for any such error. <b>“Excluded Business Claims”</b> means Claims related to intellectual
        property
        (like copyrights and trademarks) or violations of Section 2 of these Business Terms. Business Claims shall be
        heard by a single arbitrator. Arbitrations will be held in Los Angeles, California, but the parties may choose
        for themselves whether to appear in person, by phone, or through the submission of documents. The arbitration
        shall be governed by the laws of the State of California. The prevailing party shall be entitled to an award of
        reasonable attorneys’ fees.
      </p>

      <p>
        NOTWITHSTANDING THE FOREGOING, FOR ANY BUSINESS CLAIM THAT IS NOT SUBJECT TO ARBITRATION, INCLUDING WITHOUT
        LIMITATION EXCLUDED BUSINESS CLAIMS, YOU AGREE TO SUBMIT AND CONSENT TO THE PERSONAL AND EXCLUSIVE JURISDICTION
        IN, AND THE EXCLUSIVE VENUE OF, THE STATE AND FEDERAL COURTS LOCATED WITHIN SAN FRANCISCO COUNTY, CALIFORNIA,
        WHICH IS THE PLACE OF PERFORMANCE OF THESE BUSINESS TERMS.
      </p>

      <p>
        YOU AND KIDAZZLER AGREE THAT EACH MAY BRING OR PARTICIPATE IN BUSINESS CLAIMS AGAINST THE OTHER ONLY IN THEIR
        RESPECTIVE INDIVIDUAL CAPACITIES, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR
        REPRESENTATIVE PROCEEDING. UNLESS BOTH YOU AND KIDAZZLER AGREE OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE OR
        JOIN THE BUSINESS CLAIMS OF OTHER PERSONS OR PARTIES WHO MAY BE SIMILARLY SITUATED, AND MAY NOT OTHERWISE
        PRESIDE OVER ANY FORM OF A REPRESENTATIVE OR CLASS PROCEEDING. IF A BUSINESS CLAIM IMPLICATES THIS SECTION, AND
        THIS SECTION IS FOUND TO BE INVALID, UNENFORCEABLE OR ILLEGAL BY A COURT, SUCH BUSINESS CLAIM MUST BE
        ADJUDICATED BY A COURT AND NOT BY AN ARBITRATOR. 
      </p>

      <p><b>Notice: Collection of Personal Information</b></p>

      <p>
        We collect personal information in a number of ways when you visit our web site. For example, we collect
        personal information when you: (1) register and set up an account; (2) sign up for any of our e-mail
        newsletters; (3) post a review; (4) contact us by e-mail for any reason or (5) make a transaction through our
        site. When you visit our web site, some information is also automatically collected, such as your computer's
        Internet Protocol (IP) address, your computer's operating system, the browser type, the address of a referring
        web site, and the time and date of your visit and purchases. We treat this information as personal information
        if we combine it with or link it to any of the identifying information mentioned above. Otherwise, it is used in
        the aggregate <span style="text-decoration: underline;">only</span>.
      </p>

    </div>

    <h2>QUESTIONS AND CONTACT INFORMATION</h2>

    <p>
      General questions or comments about the Kidazzler website or Service may be directed to info@kidazzler.com.
    </p>

    <h2>EFFECTIVE DATE</h2>
    <p>
      The effective date of these Terms of Use is Febraury 3, 2020. Any use of the Service on or after this date,
      including but not limited to, the withdrawal of Kidollars, is subject to this version of the Agreement. Any fees
      or charges that may apply to the use of Kidollars, or their withdrawal, is determined by the version of this
      Agreement in effect at the time of use. Any changes or amendments hereto apply retroactively to any accrued
      benefits within the Service.
    </p>

  </div>

  <kz-footer></kz-footer>
</div>
