<kz-header type="withMenu"></kz-header>
<div class="banner">
  <div class="container container_lg">
    <div class="banner__block">
      <div class="banner__block__text">
        <span>Drive Traffic to Your Business with</span> Kidazzler’s All-In-One Member Package
      </div>
      <div class="banner__block__button">
        <p-button label="Updgrade"></p-button>
      </div>
    </div>
  </div>
</div>
<div class="container benefits">
  <h3>A Directory Designed to Turn Browsers into Buyers</h3>
  <div class="benefits__list">
    <div class="benefits__list__column">
      <h4>Drive traffic to your business</h4>
      <ul>
        <li>Run special deals & offers</li>
        <li>Create unique events & promotions</li>
        <li>Engage customers in real-time</li>
        <li>Set up a check-in code to help us promote your business and track your visitors</li>
      </ul>
    </div>
    <div class="benefits__list__column">
      <h4>Get found</h4>
      <ul>
        <li>Reach a niche market of parents and families</li>
        <li>Get top placement in multiple categories</li>
        <li>Remove competitor ads</li>
        <li>Stand out in search with distinctive icons and spotlights</li>
      </ul>
    </div>
  </div>
  <h3>Give Potential Customers Everything They Need to Choose Your Business</h3>
  <div class="benefits__items">
    <div class="benefits__item">
      <img class="benefits__item__image" src="assets/images/benefits/benefit1.png" alt="Benefit 1">
      <div class="benefits__item__content">
        <h4>All-In-One advertising package for an affordable, flat fee</h4>
        <div class="benefits__item__content__descr">Big, small, or one-man shop, Kidazzler fits any budget</div>
        <p>
          Kidazzler's member package makes it easy to showcase everything your business has to offer, all in one place,
          for one affordable fee. Give visitors everything they need to choose you, with Kidazzler's robust suite of
          tools and enhancements, designed to promote your business and attract potential customers to your page.
        </p>
        <div class="benefits__item__content__button">
          <p-button label="Updgrade"></p-button>
        </div>
      </div>
    </div>
    <div class="benefits__item">
      <img class="benefits__item__image" src="assets/images/benefits/benefit2.png" alt="Benefit 2">
      <div class="benefits__item__content">
        <h4>Stand out from the competition with powerful member-only tools</h4>
        <div class="benefits__item__content__descr">Give customers everything they need to choose your business.</div>
        <p>
          It's no secret that families are always searching for great deals and events. Only member businesses in
          Kidazzler can engage our community by posting coupons, deals, promos, and events on their page.
        </p>
        <p>
          These features, together with unique, distinctive icons, will help you get extra attention and differentiate
          your business in search and throughout the directory.
        </p>
        <div class="benefits__item__content__button">
          <p-button label="Updgrade"></p-button>
        </div>
      </div>
    </div>
    <div class="benefits__item">
      <img class="benefits__item__image" src="assets/images/benefits/benefit3.png" alt="Benefit 3">
      <div class="benefits__item__content">
        <h4>Give your business extra exposure in search</h4>
        <div class="benefits__item__content__descr">Get the edge to help turn more visitors into paying customers.</div>
        <p>
          Attract attention with top placement. Stand out in search through top placement in multiple categories. Say
          goodbye to competitor ads.
        </p>
        <p>
          Removing these ads from your page helps keep visitors focused on your business and less likely to click off
          your page and choose someone else.
        </p>
        <div class="benefits__item__content__button">
          <p-button label="Updgrade"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="benefits__footer">
  <div class="container">
    <h3>Give your business a competitive edge with Kidazzler’s All-In-One Member Package</h3>
    <div class="benefits__footer__text">Stand out. Get found. Turn visitors into paying customers.</div>
    <div class="benefits__footer__button">
      <p-button label="Updgrade"></p-button>
    </div>
    <div class="benefits__footer__link">
      <a href="javascript:void(0)">More questions? Contact Us</a>
    </div>
  </div>
</div>
<kz-footer></kz-footer>
