<kz-header></kz-header>

<div class="login-container small-container">

    <h1>We’re Sorry, Kidazzler is not available in your country yet.</h1>

    <div class="row-extra">
        <div class="text-center">
            <h3>
                Your spot is reserved, and we’ll let you know once we launch in your country. </h3>
            <div class="large-notes">
                Be sure to follow us on Social for the all the latest at Kidazzler.
            </div>
        </div>
    </div>

    <div class="row centered">
        <div class="social-media">
            <a href="https://facebook.com/kidazzler/" target="_blank">
                <svg-icon src="/assets/images/social/icon-social-fb.svg"></svg-icon>
            </a>
            <a href="http://instagram.com/kidazzler" target="_blank">
                <svg-icon src="/assets/images/social/icon-social-instagram.svg"></svg-icon>
            </a>
            <a href="https://twitter.com/@kidazzler" target="_blank">
                <svg-icon src="/assets/images/social/icon-social-twitter.svg"></svg-icon>
            </a>
        </div>
    </div>
</div>

<kz-footer></kz-footer>