<kz-header></kz-header>

<div class="login-container small-container">
    <h1>Success</h1>

    <div class="row-extra">
        <div class="text-center">
            <div class="large-notes">
                Your message successfully sent. We will contact you as soon as possible.
            </div>
        </div>
    </div>


    <div class="row centered">
        <div class="social-media">
            <a href="https://facebook.com/kidazzler/" target="_blank">
                <svg-icon src="/assets/images/social/icon-social-fb.svg"></svg-icon>
            </a>
            <a href="http://instagram.com/kidazzler" target="_blank">
                <svg-icon src="/assets/images/social/icon-social-instagram.svg"></svg-icon>
            </a>
            <a href="https://twitter.com/@kidazzler" target="_blank">
                <svg-icon src="/assets/images/social/icon-social-twitter.svg"></svg-icon>
            </a>
        </div>
    </div>
</div>