@import "../../../styles/variables";

.grey-bg-section {
  background-color: $base-bg-grey-color;
}

.business-info-section {
  padding: 60px 0;
}

.dashboard-flex-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 48px;

  .dashboard-data {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 712px;
    background: #FFFFFF;
  }
}
