@mixin oval($height) {
  position: relative;
  overflow: hidden;
  background: #fff;
  height: $height;

  &::before {
    content: " ";
    display: block;
    width: calc(110%);
    left: -5%;
    height: #{$height};
    position: absolute;
    border-radius: 80% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: $base-bg-gradient;
  }
}

@mixin kz-button() {
  font-size: 17px;
  line-height: 21px;
  text-align: center;

  color: #FFFFFF;
  background: #B70FD9;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  border: 0;
  cursor: pointer;
}

@mixin main-button($width) {
  cursor: pointer;
  width: 100%;
  max-width: $width;
  height: 35px;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-transform: capitalize;
  background: #BD10E0;
  border-radius: 8px;
  -webkit-appearance: none;
  border: none;
  padding: 0;
}

@mixin main-button-light-purple($width) {
  cursor: pointer;
  width: 100%;
  max-width: $width;
  height: 35px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #4B03BD;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background: rgba(75, 3, 189, 0.09);
  border-radius: 8px;
  border: 0;
  padding: 0;
  -webkit-appearance: none;
  border: none;

  &:visited,
  &:hover {
    color: $link-color;
  }
}

@mixin main-button-gray($width) {
  cursor: pointer;
  width: 100%;
  max-width: $width;
  height: 35px;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-transform: capitalize;
  background: #B4BCC5;
  border-radius: 8px;
  border: 0;
  padding: 0;
  -webkit-appearance: none;
  border: none;
}

@mixin limited-text($lines-number) {
  text-overflow: ellipsis;
  overflow: hidden;
  /* autoprefixer: ignore next */
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-line-clamp: $lines-number;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

@mixin one-row-limited-text() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
