<div class="title">Change your password</div>
<div [ngBusy]="isLoading"></div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row" formGroupName="passwords">
        <label for="currentPassword">Current Password</label>
        <input type="password" class="form-component" placeholder="Enter your existing password" id="currentPassword" formControlName="currentPassword" maxlength="128" />
        <div class="error-message" *ngIf="formErrorsService.checkControlValidation('passwords.currentPassword')">
            {{ formErrorsService.getValidationMessage('passwords.currentPassword') }}
        </div>
    </div>

    <div class="row" formGroupName="passwords">
        <label for="password">New Password</label>
        <input type="password" class="form-component" placeholder="Enter the new password" id="password" formControlName="password" maxlength="128" />
        <div class="error-message" *ngIf="formErrorsService.checkControlOnTyping('passwords.password')">
            {{ formErrorsService.getValidationMessage('passwords.password') }}
        </div>
    </div>

    <div class="row" formGroupName="passwords">
        <label for="confirmationPassword">Confirm New Password</label>
        <input type="password" class="form-component" placeholder="Reenter your password to verify" id="confirmationPassword" formControlName="confirmationPassword" maxlength="128" />
        <div class="error-message" *ngIf="formErrorsService.checkControlValidation('passwords.confirmationPassword')">
            {{ formErrorsService.getValidationMessage('passwords.confirmationPassword') }}
        </div>
        <div class="error-message" *ngIf="formErrorsService.checkControlValidation('passwords')">
            {{ formErrorsService.getValidationMessage('passwords') }}
        </div>
    </div>
</form>
<div class="row-buttons">
    <button class="btn btn-primary" (click)="onSubmit()">Save Changes</button>
    <button class="btn btn-secondary" [routerLink]="['/']">Cancel</button>
</div>