<kz-header></kz-header>

<div class="login-container" *ngIf="!isChanged">
    <div [ngBusy]="isLoading"></div>

    <h1>Reset Your Password</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col" formGroupName="passwords">
                <input type="password" class="form-component" placeholder="Password" id="password" formControlName="password" maxlength="128" />
                <div class="error-message" *ngIf="formErrors.checkControlOnTyping('passwords.password')">
                    {{ formErrors.getValidationMessage('passwords.password') }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" formGroupName="passwords">
                <input type="password" class="form-component" placeholder="Confirm Password" id="confirmationPassword" formControlName="confirmationPassword" maxlength="128" />
                <div class="error-message" *ngIf="formErrors.checkControlValidation('passwords.confirmationPassword')">
                    {{ formErrors.getValidationMessage('passwords.confirmationPassword') }}
                </div>
                <div class="error-message" *ngIf="formErrors.checkControlValidation('passwords') && !formErrors.checkControlValidation('passwords.confirmationPassword')">
                    {{ formErrors.getValidationMessage('passwords') }}
                </div>
            </div>
        </div>
    </form>
    <div class="row-extra">
        <button class="btn btn-primary btn-fullwidth" (click)="onSubmit()">Change Password</button>
    </div>
</div>

<div class="login-container small-container" *ngIf="isChanged">

    <div class="icon-screen">
        <img src="/assets/images/icon-success.svg" alt="" />
    </div>

    <h1>Your Password was Successfully reset.</h1>
    <div class="row centered">
        <a [routerLink]="['/login']">Back to Login</a>
    </div>
</div>

<kz-footer></kz-footer>