<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <input class="form-component" placeholder="Login" type="text" formControlName="email" id="login" pInputText>
      <div class="error-message" *ngIf="formErrors.checkControlValidation('email')">
        {{ formErrors.getValidationMessage('email') }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <input type="password" class="form-component" placeholder="Password" pInputText id="password"
             formControlName="password" maxlength="128">
      <div class="error-message" *ngIf="formErrors.checkControlValidation('password')">
        {{ formErrors.getValidationMessage('password') }}
      </div>
    </div>
  </div>

  <div class="notes notes_forgot-password">
    <a [routerLink]="['/forgot-password/isBusiness']">Forgot Password?</a>
  </div>

  <div class="row-extra row-extra_login">
    <button class="btn btn-primary btn-fullwidth">
      Login
    </button>
  </div>

  <div class="notes">
    Don’t have a Kidazzler business account? <a [routerLink]="['/marketing']">Learn More</a>
  </div>
</form>
