<kz-header type="withMenu"></kz-header>


<kz-list-of-photos [showAllTab]="true" [role]="roles.business" [photos]="photos"
                   (onDeletePhoto)="deletePhoto($event)"
                   (onAddPhotos)="addPhotos($event)" (onMakePrimary)="makePrimary($event)">

</kz-list-of-photos>


<!-- BEGIN: LOADER -->
<ngx-ui-loader [overlayColor]="'#fff'"
               [fgsType]="'chasing-dots'"
               [fgsColor]="'#823cf1'"
               [pbColor]="'#823cf1'">
</ngx-ui-loader>
<!-- END: LOADER -->

<!-- LOADERS -->
<ngx-ui-loader [fgsColor]="'#823cf1'"
               [fgsType]="'wandering-cubes'"
               [loaderId]="'delete-photo'"
               [hasProgressBar]="false"
               [fgsPosition]="'center-center'">
</ngx-ui-loader>
<!-- LOADERS -->

<!-- LOADERS -->
<ngx-ui-loader [fgsColor]="'#823cf1'"
               [fgsType]="'wandering-cubes'"
               [loaderId]="'add-photo'"
               [hasProgressBar]="false"
               [fgsPosition]="'center-center'">
</ngx-ui-loader>
<!-- LOADERS -->

<!-- LOADERS -->
<ngx-ui-loader [fgsColor]="'#823cf1'"
               [fgsType]="'wandering-cubes'"
               [loaderId]="'make-primary'"
               [hasProgressBar]="false"
               [fgsPosition]="'center-center'">
</ngx-ui-loader>
<!-- LOADERS -->
