<kz-header></kz-header>

<div class="login-container small-container">

    <div class="icon-screen">
        <img src="/assets/images/icon-mail.svg" alt="" />
    </div>

    <h1>Check your Email</h1>

    <div class="notes">
        Please confirm your email to activate your account and start participating.
    </div>

    <div class="row">
        <button class="btn btn-primary btn-fullwidth" [routerLink]="['/login']">
            Ok
        </button>
    </div>
</div>
<kz-footer></kz-footer>