@import '../../../styles/variables';

.code-tab {
  position: fixed;
  width: 100%;
  left: 0;
  height: calc(100vh - 71px); // Fallback
  height: calc((var(--vh, 1vh) * 100) - 71px);
  overflow: hidden;

  &.active {
    background: #F4F8F9;
  }
}

.code-page {
  height: calc(100vh - 120px); // Fallback
  height: calc((var(--vh, 1vh) * 100) - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__button {
    background: #B70FD9;
    border-radius: 100px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 335px;
    height: 44px;
    min-height: 44px;
    margin: 0 auto 20px;

    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
  }

  .text-block {
    padding-top: 100px;
    width: 100%;
    max-width: 255px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__image {
      margin-bottom: 16px;
    }

    &__heading {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 24px;
    }

    &__text {
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.438421px;
      color: #B4BCC5;
      text-align: center;
    }
  }
}

.form-block {
  height: calc(100vh - 120px); // Fallback
  height: calc((var(--vh, 1vh) * 100) - 120px);
  padding-top: 50px;
  max-width: 335px;
  margin: 0 auto;

  &__text {
    padding-top: 24px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 24px;
  }

  &__item {
    background: #FFFFFF;
    border-radius: 7px;
    padding: 24px;
  }

  &__divider {
    width: 96%;
    height: 1px;
    margin: 0 auto;
    mix-blend-mode: normal;
    background: rgba(36, 36, 36, 0.12);
  }

  .info {
    position: relative;

    &__icon {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: calc(100% - 18px);
    }

    &__heading {
      font-size: 17px;
      line-height: 21px;
      margin-bottom: 9px;
    }

    &__counter {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 9px;
    }

    &__date {
      display: flex;

      img {
        margin-right: 9px;
      }
    }
  }

  .code-form {
    &__title-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 9px;
    }

    &__text {
      line-height: 22px;
    }

    &__link {
      cursor: pointer;
      font-size: 17px;
      line-height: 21px;
      color: #4B03BD;
    }

    &__input {
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 1px;
      background: #E9F6F6;
      border-radius: 4px;
      width: 100%;
      max-width: 287px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 12px;

      img {
        margin-right: 12px;
      }
    }
  }
}

.code-modal {
  width: 100%;
  max-width: 303px;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 32px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &.mobile {
    @include absolute-center;
  }

  &__heading {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 24px;
  }

  &__image {
    margin-bottom: 30px;
  }

  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__label {
      visibility: hidden;
    }

    &__input {
      background: #F4F8F9;
      border-radius: 4px;
      width: 100%;
      max-width: 263px;
      height: 60px;
      padding: 0;
      border: none;
      text-align: center;
      box-shadow: none;
      font-size: 32px;
      line-height: 40px;
      color: #242424;
      margin-bottom: 24px;
    }

    .error-message {
      text-align: left;
      margin-bottom: 14px;
      margin-top: -14px;
      padding-bottom: 0;
      align-self: flex-start;
    }
  }

  &__button {
    background: $btn-primary-color;
    border-radius: 100px;
    width: 100%;
    max-width: 263px;
    height: 44px;
    min-height: 44px;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border-width: 0;
    -webkit-appearance: none;

    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled {
      opacity: 0.5;
    }

    &.code-modal__button_gray {
      margin-top: 12px;
      background: #B4BCC5;
    }
  }
}

.code-edit-modal {
  background-color: transparent;
  border: none;
}

@media (max-height: 575px) {
  .code-page {
    .text-block {
      padding-top: 75px;
    }
  }
}

@media (max-height: 470px) {
  .code-modal {
    max-height: 285px;
    overflow: scroll;
    padding: 10px 20px 20px 20px;
    top: 10px;
    transform: translate(-50%, 0);
  }
}

@media (max-height: 300px) {
  .code-modal[_ngcontent-c0] {
    max-height: 200px;
  }
}

@media (min-width: $breakpoint-md) {
  .code-page {
    height: 100%;

    .text-block {
      padding-top: 25px;
      margin-bottom: 31px;
    }
  }

  .code-tab {
    height: auto;
    position: relative;
    margin: 0;
    top: 0;

    &.active {
      background: #ffffff;
    }

    .form-block {
      height: auto;
      padding-top: 20px;

      &__text {
        margin-bottom: 38px;
      }
    }
  }
}
