@import "../../../../styles/variables";
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";

mgl-map {
  position: relative;
  width: 100vw;
  height: 100vh;

  &.full-map {
    width: 1280px;
    height: 800px;
  }
}

:host ::ng-deep {
  .mapboxgl-popup-content {
    border-radius: 8px;
    padding: 0;
  }

  .mapboxgl-ctrl-bottom-left,
  .mapboxgl-ctrl-attrib.mapboxgl-compact {
    opacity: 0;
  }

  .mapboxgl-ctrl-top-right {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 0;
  }
}


.map {
  position: relative;
  height: 100vh;

  mgl-map {
    position: relative;
    width: 100vw;
    height: 100vh;

    &.full-map {
      width: 1280px;
      height: 800px;
    }

    :host {
      display: flex;
    }

  }

  .current-location-marker {
    border-radius: 50%;
    border: 10px solid #fff;
    background: #0097FE;
    width: 42px;
    height: 42px;
  }

  .marker {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EAEAEA;
    background: #fff;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);

    &__dot {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: #BD10E0;
    }

    &.active {
      width: 44px;
      height: 44px;
      padding: 0;

      .marker__dot {
        width: 36px;
        height: 36px;
        background: #BD10E0;
        border-radius: 50% 50% 50% 0;
      }
    }
  }

  .rounded-button {
    border-radius: 50%;
    border: none;
    -webkit-appearance: none;
    background-color: #ffffff;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .close {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24);
    width: 32px;
    min-width: 32px;
    max-width: 32px;
    height: 32px;
    min-height: 32px;
    max-height: 32px;
  }

  .current-location {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.24);
    width: 48px;
    min-width: 48px;
    max-width: 48px;
    height: 48px;
    min-height: 48px;
    max-height: 48px;
    position: absolute;
    right: 0;
    bottom: 196px;
    padding-top: 4px;
    padding-right: 2px;

    &.expanded-list {
      bottom: 719px;
    }
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #4b03bd;
    width: 169px;
    max-width: 169px;
    min-width: 169px;
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    padding: 0;

    svg {
      margin-right: 6px;
      font-size: 19px;
    }
  }
}
