<kz-header [type]="'empty'"></kz-header>
<div class="kidazzler-connection">
  <!-- Banner Start -->
  <div class="connection-business-banner-section clearfix-div">
    <div class="img-overlay clearfix-div"></div>
    <div class="img-block clearfix-div"></div>
    <img class="img-responsive hidden-extra-small" src="../../../assets/images/external-images/connection-business-banner.png" alt="banner images">
    <img class="img-responsive visible-extra-small" src="../../../assets/images/external-images/connection-business-banner-mobile.png"
         alt="banner images">
    <div class="banner-content clearfix-div">
      <div class="fixed-width-container">
        <div class="row-line">
          <div class="col-small-11 col-medium-7 col-large-6">
            <div class="banner-left-txt clearfix-div">
              <h1>The Kidazzler Connection for Business</h1>
              <p>Kidazzler is a parenting platform that helps parents find and connect to businesses that have the
                products and services they need exactly when they need them.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="learn-more-link clearfix-div">
      <div class="fixed-width-container">
        <a href="#">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
               x="0px" y="0px"
               viewBox="0 0 21.825 21.825" style="enable-background:new 0 0 21.825 21.825;" xml:space="preserve">
					<path style="fill:#1E201D;" d="M16.791,13.254c0.444-0.444,1.143-0.444,1.587,0c0.429,0.444,0.429,1.143,0,1.587l-6.65,6.651
						c-0.206,0.206-0.492,0.333-0.809,0.333c-0.317,0-0.603-0.127-0.81-0.333l-6.65-6.651c-0.444-0.444-0.444-1.143,0-1.587
						s1.143-0.444,1.587,0l4.746,4.762V1.111C9.791,0.492,10.299,0,10.918,0c0.619,0,1.111,0.492,1.111,1.111v16.904L16.791,13.254z"/>
				</svg>
          Learn More
        </a>
      </div>
    </div>
  </div>
  <!-- Banner End -->

  <!-- content start -->
  <div class="content clearfix-div">
    <div class="connection-business-pg clearfix-div">
      <!-- Business Partners Section Start -->
      <div class="business-partners-section clearfix-div">
        <div class="fixed-width-container">
          <div class="row-line">
            <div class="col-small-12 col-medium-11 col-large-10">
              <div class="business-title">
                <h2>Our platform brings businesses and parents together into one place and encourages connections that
                  turn browsers into buyers.</h2>
              </div>

              <p>Kidazzler is here to ensure that when parents are looking for something they need - and it's something
                you offer - they find you!</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Business Partners Section End -->

      <!-- Direcory Section Start -->
      <div class="direcory-section">
        <div class="fixed-width-container">
          <div class="row-line">
            <div
              class="col-extra-small-12 col-extra-small-push-0 col-small-6 col-small-push-6 col-medium-7 col-medium-push-5 col-large-8 col-large-push-4 direcory-left-col">
              <!-- Parent Information Start -->
              <div class="parent-information clearfix-div">
                <div class="parent-title clearfix-div">
                  <h3>The Kidazzler Directory: <br> Built by Parents for Parents</h3>
                </div>

                <div class="row-line">
                  <div class="col-small-12 col-medium-6 col-large-6">
                    <div class="info-block clearfix-div">
                      <p>Together, our parenting community is building an all-in-one directory of kid-focused and
                        family-friendly businesses, activities, and service providers. In the US and Canada: Big, small,
                        one-man shops and hidden gems, Kidazzler will have them all.</p>
                    </div>
                  </div>
                  <div class="col-small-12 col-medium-6 col-large-6">
                    <div class="info-block clearfix-div">
                      <p>Every day, our directory grows, and our community continues to thrive. Kidazzler is quickly
                        becoming the ‘go-to’ resource for parents everywhere. We’re helping more and more families
                        discover new businesses and services. Both at home , on-the-go, and when traveling.</p>

                      <p>If your business serves parents or anyone with kids, you're probably already on Kidazzler.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Parent Information End -->
            </div>

            <div
              class="col-extra-small-12 col-extra-small-pull-0 col-small-6 col-small-pull-6 col-medium-5 col-medium-pull-7 col-large-4 col-large-pull-8 direcory-right-col">
              <!-- Parent Images Start -->
              <div class="parent-images">
                <div class="img-01">
                  <img class="img-responsive hidden-extra-small" src="../../../assets/images/external-images/parent-img-01.png"
                       alt="parent images">
                  <img class="img-responsive visible-extra-small" src="../../../assets/images/external-images/mo-parent-img-01.png"
                       alt="parent images">
                </div>

                <div class="img-02 clearfix-div">
                  <img class="img-responsive hidden-extra-small" src="../../../assets/images/external-images/parent-img-02.png"
                       alt="parent images">
                  <img class="img-responsive visible-extra-small" src="../../../assets/images/external-images/mo-parent-img-02.png"
                       alt="parent images">
                </div>
              </div>
              <!-- Parent Images End -->
            </div>
          </div>
        </div>
      </div>
      <!-- Direcory Section End -->

      <!-- Click Section Start -->
      <div class="click-section clearfix-div">
        <div class="clik-top clearfix-div">
          <a href="#">Click Here
            <img alt="" src="../../../assets/images/external-images/click-arrow.svg">
          </a>
        </div>
        <div class="click-bottom clearfix-div">
          <p>to see if your business was added, and to make sure your information is correct for other parents to
            discover.</p>
        </div>
      </div>
      <!-- Click Section End -->

      <!-- Buyer Section Start -->
      <div class="buyer-section clearfix-div">
        <div class="fixed-width-container">
          <div class="row-line margin">
            <div class="col-small-7 col-medium-7 col-large-7 padding">
              <div class="buyer-information clearfix-div">
                <h3>A directory designed to turn browsers into buyers.</h3>
                <p>Kidazzler allows every business to take control of its online identity and showcase the products and
                  services it offers. All in one place.</p>

                <div class="buyer-next clearfix-div">
                  <p>So the next time... <br> Someone finds your page in Kidazzler, they'll <span> STAY </span> on
                    it. They'll have everything they need to <span> CHOOSE YOU.</span></p>
                </div>
              </div>
            </div>
            <div class="col-small-5 col-medium-5 col-large-5 padding">
              <div class="buyer-images clearfix-div">
                <img class="img-responsive" src="../../../assets/images/external-images/buyer-img.png" alt="buyer-img">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Buyer Section End -->

      <!-- Drive More Section Start -->
      <div class="drive-more clearfix-div">
        <div class="fixed-width-container">
          <div class="row-line">
            <div class="col-small-5 col-medium-5 col-large-5 drive-col-left">
              <div class="drive-images clearfix-div">
                <img class="img-responsive" src="../../../assets/images/external-images/drive-images.png" alt="drive images">
              </div>
            </div>
            <div class="col-small-7 col-medium-7 col-large-7 drive-col-right">
              <div class="drive-information clearfix-div">
                <h4>With Kidazzler, you'll have the tools to increase exposure and drive more customers to your
                  business:</h4>

                <ul>
                  <li>Offer deals, coupons, and promotions</li>
                  <li>Create and promote special events to get more customers</li>
                  <li>Engage daily with Kidazzler's community in real-time with a personal business feed</li>
                  <li>Display photos and videos</li>
                </ul>

                <a href="#" class="more-link">And much more!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Drive More Section End -->

      <!-- Together Section Start -->
      <div class="together-section clearfix-div">
        <div class="fixed-width-container">
          <div class="row-line">
            <div
              class="col-extra-small-12 col-extra-small-push-0 col-small-5 col-small-push-7 col-medium-5 col-large-5 together-col-right">
              <div class="together-images clearfix-div">
                <img class="img-responsive" src="../../../assets/images/external-images/together-images.png" alt="together-img">
              </div>
            </div>

            <div
              class="col-extra-small-12 col-extra-small-pull-0 col-small-7 col-small-pull-5 col-medium-7 col-large-7 together-col-left">
              <div class="together-information clearfix-div">
                <h3>Kidazzler Thinks Globally and Together We Act Locally!</h3>

                <p>Your business has the potential to enrich the lives of many families in your community. But, the sad
                  reality for many families is that a lack of money prevents them from ever visiting, experiencing, and
                  shopping with your business.</p>

                <p>Kidazzler is helping change that by bringing families and businesses together to help everyone thrive.
                  We believe that money should not be an obstacle when it comes to the well being of any child.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Together Section End -->

      <!-- Social Responsibility Section Start -->
      <div class="social-responsibility-section clearfix-div">
        <!-- Built Section Start -->
        <div class="built-section clearfix-div">
          <div class="fixed-width-container">
            <div class="built-top clearfix-div">
              <h2>From day one, we built Kidazzler in a way that integrates giving back into our DNA.</h2>
              <p>We pledged to give a portion of our revenues back to our community.</p>
            </div>
            <div class="row-line">
              <div class="col-small-5 col-medium-5 col-large-5">
                <div class="built-images clearfix-div">
                  <img class="img-responsive" src="../../../assets/images/external-images/built-images.png" alt="built img">
                </div>
              </div>
              <div class="col-small-7 col-medium-7 col-large-7">
                <div class="built-desc clearfix-div">
                  <h3>Social Responsibility: Bringing our pledge full circle.</h3>

                  <h4>Through our pledge to give back, everyone benefits.</h4>

                  <p>Kidazzler's member businesses will benefit from affordable all-in-one effective and targeted
                    advertising. </p>

                  <p>At the same time, families in the communities you serve will have extra money to spend on products
                    and services at your business and other businesses in your community.</p>

                  <div class="built-sound clearfix-div">
                    <p>If it sounds like a beneficial circle, it is. And Kidazzler's pledge is the glue that binds it.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Built Section End -->

        <!-- Social Partnering Section Start -->
        <div class="social-partnering-section clearfix-div">
          <div class="fixed-width-container">
            <div class="social-responsibility-title clearfix-div">
              <h2>Social Responsibility in Business: Partnering to make a difference.</h2>
            </div>

            <div class="social-responsibility-rules-list clearfix-div">
              <div class="row-line">
                <div class="col-small-6 col-medium-4 col-large-4">
                  <div class="social-responsibility-block">
                    <div class="title">
                      <span>There's no denying that</span>
                    </div>

                    <div class="detail">
                      <p>social responsibility plays a prominent role in our society today.</p>
                    </div>
                  </div>
                </div>

                <div class="col-small-6 col-medium-4 col-large-4">
                  <div class="social-responsibility-block">
                    <div class="title">
                      <span>A business that invests in the community it serves</span>
                    </div>

                    <div class="detail">
                      <p>develops a reputation that no marketing campaign can match.</p>
                    </div>
                  </div>
                </div>

                <div class="col-small-6 col-medium-4 col-large-4">
                  <div class="social-responsibility-block">
                    <div class="title">
                      <span>When you join Kidazzler as a member business</span>
                    </div>

                    <div class="detail">
                      <p>you're joining a group of like-minded business leaders who are making a difference in the
                        communities they serve.</p>
                    </div>
                  </div>
                </div>

                <div class="col-small-6 col-medium-4 col-large-4">
                  <div class="social-responsibility-block">
                    <div class="title">
                      <span>You'll be recognized as our proud partner</span>
                    </div>

                    <div class="detail">
                      <p>in improving the lives of families and children in your community.</p>
                    </div>
                  </div>
                </div>

                <div class="col-small-6 col-medium-4 col-large-4">
                  <div class="social-responsibility-block">
                    <div class="title">
                      <span>And your community will take notice</span>
                    </div>

                    <div class="detail">
                      <p>These days more and more consumers, especially parents, look to do business with companies that
                        care about and help make a difference in their community.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Social Partnering Section End -->

        <!-- Social Story Section Start -->
        <div class="social-story clearfix-div">
          <div class="fixed-width-container">
            <div class="row-line">
              <div
                class="col-extra-small-12 col-extra-small-push-0 col-small-5 col-small-push-7 col-medium-5 col-large-5">
                <div class="social-img clearfix-div">
                  <img class="img-responsive" src="../../../assets/images/external-images/story-img.png" alt="story images">
                </div>
              </div>

              <div
                class="col-extra-small-12 col-extra-small-pull-0 col-small-7 col-small-pull-5 col-medium-7 col-large-7">
                <div class="social-story-info clearfix-div">
                  <h3>Everyone has a story, and together we'll make every story better.</h3>
                  <p>One business at a time. One family at a time. Together, we'll make a difference. </p>
                  <a href="#" class="button pink-button">Manage my free page </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Social Story Section End -->

      </div>
      <!-- Social Responsibility Section End -->
    </div>
  </div>
  <!-- content end -->

  <kz-footer class="content clearfix-div"></kz-footer>
</div>

