<kz-header [type]="'empty'"></kz-header>
<div class="banner">
  <div class="container container_lg">
    <div class="banner__block">
      <div class="banner__block__heading">
        Get Found and Attract More Families to Your Business with Kidazzler
      </div>
      <div class="banner__block__text">
        Your customers love you, so one of them probably added you to Kidazzler already! Claim your listing for free and
        make sure your information is displayed correctly to our parenting community.
      </div>
      <div class="banner__block__button">
        <p-button label="Manage my free page"></p-button>
      </div>
    </div>
  </div>
</div>

<div class="full-block full-block_first">
  <div class="container">
    <h3>The Kidazzler Connection</h3>
    <div class="full-block__subheading">We’re here to connect parents and family-friendly businesses</div>
    <div class="full-block__text">For businesses and parents, finding each other isn’t always easy, but thanks to
      Kidazzler, it will be. We’re here to ensure that when parents are looking for something they need - and it’s
      something you offer - they find you. <a href="javascript:void(0)">Learn More</a></div>
  </div>
</div>

<div class="container marketing">
  <div class="marketing__items">
    <div class="marketing__item">
      <img class="marketing__item__image" src="assets/images/marketing/marketing1.png" alt="Benefit 1">
      <div class="marketing__item__content">
        <h4>Reputation is everything. Don’t let errors cost you customers</h4>
        <div class="marketing__item__content__descr">Make sure your business information is correct and up to date!</div>
        <p>
          Claim your listing for free and gain control of the information that appears on your page, including phone
          number, address, hours, description, upload photos, and flag user-generated photos that are not relevant to
          your business.
        </p>
        <div class="marketing__item__content__button">
          <p-button label="Manage my free page" icon="pi pi-arrow-right" iconPos="right"></p-button>
        </div>
      </div>
    </div>
    <div class="marketing__item">
      <img class="marketing__item__image" src="assets/images/marketing/marketing2.png" alt="Benefit 2">
      <div class="marketing__item__content">
        <h4>Reach a targeted audience of parents all in one place</h4>
        <div class="marketing__item__content__descr">Kiazzler is a parenting platform built by parents for parents.</div>
        <p>
          Kidazzler caters to parents and parents to be with kids ages 0-18. So, if you’re a kid-focused or
          family-friendly business, we have all your ideal customers in one place.

        </p>
        <p>
          Claim your page for free, tag your business in the correct categories, and make sure parents in our community
          can find you.
        </p>
        <div class="marketing__item__content__button">
          <p-button label="Manage my free page" icon="pi pi-arrow-right" iconPos="right"></p-button>
        </div>
      </div>
    </div>
    <div class="marketing__item">
      <img class="marketing__item__image" src="assets/images/marketing/marketing3.png" alt="Benefit 3">
      <div class="marketing__item__content">
        <h4>Turn browsers into buyers</h4>
        <div class="marketing__item__content__descr">Promote and drive more customers to your business.</div>
        <p>
          Make sure your business stands out and gives potential customers everything they need to choose you.
          Kidazzler gives you the ability to showcase everything you offer in one place.
        </p>
        <p>
          Add exclusive deals, coupons, exciting offers, special events, and engage our parenting community in real-time.
        </p>
        <div class="marketing__item__content__button">
          <p-button label="Manage my free page" icon="pi pi-arrow-right" iconPos="right"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-block">
  <div class="container">
    <div class="full-block__image">
      <img src="assets/images/marketing/banner-icon.svg" alt="">
    </div>
    <h3>Manage Your Free Kidazzler Page</h3>
    <div class="full-block__text">Every day parents are searching for products and services you offer. Make sure they
      find you.</div>
    <div class="full-block__button">
      <p-button label="Manage my free page"></p-button>
    </div>
  </div>
</div>

<kz-footer></kz-footer>
