@import '~styles/mixin';
@import '~styles/variables';

:host {
  display: block;
  padding-top: 70px;
}

.banner {
  background-color: #531b6a;
  background-image: $base-bg-gradient;
  padding-top: 30px;
  padding-bottom: 46px;
  background-position: center 70px;

  @media (min-width: $breakpoint-sm) {
    background-image: linear-gradient(90deg, #531b6a 0%, rgba($base-bg-dark-color, 0) 100%), url('#{$images-base-url}/marketing/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 640px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .container {
    @media (min-width: $breakpoint-sm) {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  &__block {
    color: $white;
    max-width: 570px;

    &__heading {
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 16px;

      @media (min-width: $breakpoint-sm) {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 20px;
      }
    }

    &__text {
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 24px;

      @media (min-width: $breakpoint-sm) {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
      }
    }

    &__button {

      p-button {
        display: block;
      }

      ::ng-deep {

        .ui-button {
          @include main-button(100%);
          height: 56px;

          @media (min-width: $breakpoint-sm) {
            width: 252px;
            display: inline-block;
          }

          &:hover,
          &:focus {
            background-color: $base-bg-dark-color;
            border: none;
          }
        }
      }
    }
  }
}

.full-block {
  font-size: 20px;
  line-height: 30px;
  color: $white;
  background-color: $turquoise;
  padding-top: 56px;
  padding-bottom: 40px;
  text-align: center;

  @media (min-width: $breakpoint-sm) {
    padding-bottom: 60px;
  }

  &_first {
    padding-bottom: 98px;

    @media (max-width: $breakpoint-sm - 1) {
      text-align: left;
      padding-bottom: 52px;
    }

    h3 {
      margin-bottom: 16px;

      @media (min-width: $breakpoint-sm) {
        margin-top: 44px;
        margin-bottom: 20px;
      }
    }
  }

  &__image {
    margin-bottom: 48px;

    @media (min-width: $breakpoint-sm) {
      margin-bottom: 32px;
    }
  }

  h3 {
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: $white;
    padding: 0;

    @media (min-width: $breakpoint-sm) {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 24px;
    }
  }

  &__subheading {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;

    @media (min-width: $breakpoint-sm) {
      margin-bottom: 20px;
    }
  }

  &__text {

    a {
      display: block;
      margin-top: 10px;

      @media (min-width: $breakpoint-sm) {
        display: inline-block;
        margin-top: 0;
      }
    }

  }

  &__button {
    margin-top: 24px;

    @media (min-width: $breakpoint-sm) {
      margin-top: 20px;
    }

    ::ng-deep {

      .ui-button {
        @include main-button(100%);
        height: 48px;
        text-transform: none;
        background-color: lighten($turquoise, 10%);

        @media (min-width: $breakpoint-sm) {
          padding-left: 26px;
          padding-right: 26px;
        }

        &:hover,
        &:focus {
          background-color: lighten($turquoise, 5%);
          border: none;
        }
      }
    }
  }
}

.marketing {
  padding-top: 62px;
  padding-bottom: 80px;

  @media (min-width: $breakpoint-sm) {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  @media (min-width: $siteWidthLg) {
    width: 1124px;
  }

  &__items {

    @media (min-width: $breakpoint-sm) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__item {
    color: #8e8e96;

    @media (min-width: $breakpoint-sm) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & + & {
      margin-top: 75px;

      @media (min-width: $breakpoint-sm) {
        margin-top: 20px;
      }
    }

    &:nth-child(even) {

      @media (min-width: $breakpoint-sm) {
        flex-direction: row-reverse;
      }

      .marketing__item__image {

        @media (min-width: $breakpoint-sm) {
          margin-right: 0;
          margin-left: 20px;
        }
      }
    }

    &__image {
      margin-left: auto;
      margin-right: auto;
      display: block;

      @media (min-width: $breakpoint-sm) {
        margin-right: 20px;
        margin-left: 0;
      }
    }

    &__content {

      @media (min-width: $breakpoint-sm) {
        max-width: 620px;
      }

      h4 {
        padding: 0;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 16px;
        font-weight: bold;
        color: $base-color;

        @media (min-width: $breakpoint-sm) {
          font-size: 40px;
          line-height: 40px;
          margin-bottom: 10px;
        }
      }

      &__descr {
        color: $accent-color;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 30px;
      }

      p {
        margin-bottom: 24px;

        @media (min-width: $breakpoint-sm) {
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }

      &__button {

        @media (min-width: $breakpoint-sm) {
          margin-top: 30px;
        }

        p-button {
          display: block;
        }

        ::ng-deep {

          .ui-button {
            @include main-button(100%);
            width: auto;
            height: 56px;
            justify-content: space-between;
            padding-left: 6px;
            padding-right: 24px;
            text-transform: none;
            margin-left: auto;
            margin-right: auto;

            @media (min-width: $breakpoint-sm) {
              width: 250px;
              justify-content: center;
              padding-left: 0;
              padding-right: 0;
              margin-left: 0;
              margin-right: 0;
            }

            &:hover,
            &:focus {
              background-color: $base-bg-dark-color;
              border: none;
            }

            .ui-button-icon-right {
              right: 1em;
            }
          }
        }
      }
    }
  }
}
