<kz-header [type]="'empty'"></kz-header>
<div class="inner-pg-banner clearfix-div">
  <div class="img-overlay clearfix-div"></div>

  <div class="img-block clearfix-div"></div>
  <img alt="banner images" class="img-responsive hidden-extra-small"
       src="../../../assets/images/external-images/about-banner.png"/> <img
  alt="banner images" class="img-responsive visible-extra-small"
  src="../../../assets/images/external-images/about-banner-mobile.png"/>
  <div class="banner-content clearfix-div">
    <div class="fixed-width-container">
      <div class="row-line">
        <div class="col-small-6 col-medium-6 col-large-6">
          <div class="banner-left-txt clearfix-div">
            <h1>About Kidazzler</h1>

            <p>Kidazzler is a free parenting platform, built by parents for parents, that features a
              directory of family-friendly businesses, activities, merchants, and service providers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content clearfix-div"><!-- Big Block Section Section Start -->
  <div class="big-block-section clearfix-div">
    <div class="fixed-width-container">
      <div class="row-line margin">
        <div
          class="col-small-6 col-small-offset-6 col-medium-4 col-medium-offset-8 col-large-4 col-large-offset-8 padding">
          <div class="big-block clearfix-div"><img alt="img not found" class="img-responsive"
                                                   src="../../../assets/images/external-images/block-inner-img.png"/>
            <p>Big, small, one-man shops, and hidden gems.<br/>
              In the United States and Canada.<br/>
              From birth through college.<br/>
              At home or on-the-go.<br/>
              Kidazzler will have them all.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Big Block Section Section End --><!-- Simpliflying Section Start -->

  <div class="simpliflying-section clearfix-div">
    <div class="fixed-width-container">
      <div class="row-line">
        <div class="col-small-7 col-medium-7 col-large-7 simpliflying-left-col">
          <div class="simpliflying-text clearfix-div">
            <h6>Simplifying Parenting Forever</h6>

            <h3>Let&#39;s face it, parenting isn&#39;t always easy. But finding the information we need,
              precisely when we need it, should be!</h3>

            <p>These days, parenting information is scattered everywhere. Parents spend hours upon hours
              jumping from site to site, looking for ideas, asking for suggestions, reading reviews, and
              scooping up deals and coupons.</p>
          </div>
        </div>

        <div class="col-small-5 col-medium-5 col-large-5 simpliflying-right-col">
          <div class="simpliflying-img clearfix-div">
            <div class="simpliflying-overlay clearfix-div"></div>
            <img alt="img not found" class="img-responsive"
                 src="../../../assets/images/external-images/simpliflying-img.jpg"/>
            <div class="dots-back clearfix-div"><img alt="img not found"
                                                     src="../../../assets/images/external-images/dots-01.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Simpliflying Section End --><!-- Great Section Start -->

  <div class="great-section clearfix-div">
    <div class="fixed-width-container">
      <div class="row-line">
        <div class="col-small-7 col-medium-7 col-large-7 great-left-col">
          <div class="great-left clearfix-div">
            <h3>Wouldn&#39;t it be great if there was a platform that has everything parents need all in one
              place?&nbsp;</h3>
            <a class="button pink-button hidden-extra-small" [routerLink]="['/login']">Sign Up Now</a></div>
        </div>

        <div class="col-small-5 col-medium-5 col-large-5 great-right-col">
          <div class="great-right clearfix-div">
            <h4>Kidazzler will be<br/>
              that place.&nbsp;</h4>

            <p>Kidazzler will make parenting easier and become the &lsquo;go-to&rsquo; parenting resource
              for parents everywhere.</p>
            <a class="button pink-button visible-extra-small" [routerLink]="['/login']">Sign Up Now</a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Great Section End --><!-- Connecting Section Start -->

  <div class="connecting-section clearfix-div">
    <div class="fixed-width-container">
      <div class="row-line">
        <div class="col-small-5 col-medium-5 col-large-5 connecting-left-col">
          <div class="connecting-img clearfix-div"><img alt="connect img" class="img-responsive"
                                                        src="../../../assets/images/external-images/connecting-img.jpg"/>
            <div class="dots-back clearfix-div"><img alt="img not found" class="img-responsive"
                                                     src="../../../assets/images/external-images/dots-02.png"/></div>
          </div>
        </div>

        <div class="col-small-7 col-medium-7 col-large-7 connecting-right-col">
          <div class="connecting-text clearfix-div">
            <h4>Reinventing Search: Connecting Parents and Businesses.</h4>

            <p>For parents and businesses, finding each other isn&#39;t always easy, but thanks to
              Kidazzler, it will be.</p>

            <p>Kidazzler connects families and businesses at the exact moment they are looking for each
              other, creating success all around.</p>

            <p>Everyone knows that parents are the best and most trusted source for recommendations. That&#39;s
              why every business and service provider in Kidazzler&#39;s directory is added by a member of
              our community for others to find.</p>

            <p>Kidazzler lets every business featured in its directory take control of their online identity
              and highlight the products and services they offer all in one place. Every business has an
              opportunity to showcase deals, coupons, promotions, special events, social engagements,
              current happenings, photos, videos, ratings, unique features, and much more.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Connecting Section End --><!-- DNA Section Start -->

  <div class="dna-section clearfix-div"><!-- <div class="dna-sidebar clearfix-div"></div> -->
    <div class="fixed-width-container"><!-- Responsibility Section Start -->
      <div class="responsibility-section clearfix-div">
        <div class="row-line">
          <div class="col-small-7 col-medium-7 col-large-7 res-left-col">
            <div class="responsibility-text clearfix-div">
              <h3>Embedding Social Responsibility into our DNA</h3>

              <p>A parenting directory that has every business, activity, merchant, and service provider
                parents need, in one place, is game-changing. But, it&#39;s only one piece of the
                puzzle. The other is <strong>actually</strong> being able to afford them.</p>

              <p>We firmly believe that every child deserves an opportunity to discover who they are and
                what they can achieve, and money should not be an obstacle to that. That&#39;s why from
                day one, we built Kidazzler in a way that<b> integrates giving back into our DNA.</b>
              </p>
              <a class="button" [routerLink]="['/login']">Sign Up Now</a></div>
          </div>

          <div class="col-small-5 col-medium-5 col-large-5 res-right-col">
            <div class="responsibility-img clearfix-div"><img alt="responsibility img"
                                                              class="img-responsive"
                                                              src="../../../assets/images/external-images/responsibility-img.png"/>
              <div class="dots-back clearfix-div"><img alt="responsibility img" class="img-responsive"
                                                       src="../../../assets/images/external-images/dots-03.png"/></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Responsibility Section End --><!-- Revenues Section Start -->

      <div class="revenues-section clearfix-div">
        <div class="row-line">
          <div class="col-small-12 col-medium-12 col-large-12">
            <div class="revenues-img clearfix-div"><img alt="revenues img"
                                                        class="img-responsive hidden-extra-small"
                                                        src="../../../assets/images/external-images/revenues-img.png"/>
              <img
                alt="revenues img" class="img-responsive visible-extra-small"
                src="../../../assets/images/external-images/revenues-mobile-img.png"/>
              <div class="dots-back clearfix-div"><img alt="img not found"
                                                       class="img-responsive hidden-extra-small"
                                                       src="../../../assets/images/external-images/dots-04.png"/> <img
                alt="img not found" class="img-responsive visible-extra-small"
                src="../../../assets/images/external-images/dots-04-02.png"/></div>
            </div>

            <div class="revenues-text clearfix-div">
              <h4>We pledged to give a portion of our revenues to our community so that as many families
                as possible can experience the activities, services, and products that businesses in
                their communities offer.&nbsp;</h4>

              <p class="hidden-extra-small">With our pledge to give back everyone benefits.</p>

              <p class="visible-extra-small">With our pledge to give back<br/>
                everyone benefits.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Revenues Section End --></div>
  </div>
  <!-- DNA Section End --><!-- Think Section Start -->

  <div class="think-section  clearfix-div"><!-- Think Left Section Start -->
    <div class="think-left-section visible-extra-small clearfix-div">
      <div class="fixed-width-container">
        <div class="row-line">
          <div class="col-small-5 col-medium-5 col-large-5 think-left-col">
            <div class="think-left-text clearfix-div">
              <h3>Kidazzler thinks globally, and together we act locally.</h3>

              <p>Kidazzler is a <span> win-win </span> for parents and businesses in every community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Think Left Section End -->

    <div
      class="col-small-12 col-medium-6 col-medium-offset-6 col-large-6 col-large-offset-6 padding think-right-col think-right-col-offset">
      <!-- Think Right Section Start -->
      <div class="think-right-section clearfix-div">
        <div class="row">
          <div
            class="col-extra-small-12 col-extra-small-push-0 col-small-6 col-small-push-6 col-medium-6 col-large-6 padding">
            <!-- Think Right Img Section Start -->
            <div class="think-right-img clearfix-div"><img alt="img not found" class="img-responsive"
                                                           src="../../../assets/images/external-images/think-img.png"/>
              <div class="dots-img clearfix-div"><img alt="img not found" class="img-responsive"
                                                      src="../../../assets/images/external-images/dots-05.png"/></div>
            </div>
            <!-- Think Right Img Section End --></div>

          <div
            class="col-extra-small-12 col-extra-small-pull-0 col-small-6 col-small-pull-6 col-medium-6 col-large-6 padding">
            <!-- Think Right Text Section Start -->
            <div class="think-right-text clearfix-div">
              <h3>Together we are creating a resource that will benefit every family and every business in
                Kidazzler.</h3>

              <p>Families will have <b> extra money </b> to spend at businesses in their communities.</p>

              <p>At the same time, businesses will benefit from more families being able to enjoy their
                products and services.</p>

              <p></p>

              <div class="think-like clearfix-div">
                <h4>If it sounds like a beneficial circle, it is. Our pledge to give back connects this
                  circle.</h4>
              </div>
            </div>
            <!-- Think Right Text Section End --></div>
        </div>

        <div class="doct-back clearfix-div"><img alt="img not found"
                                                 src="../../../assets/images/external-images/dots-06.png"/></div>
      </div>
      <!-- Think Right Section End --></div>
    <!-- Think Left Section Start -->

    <div class="think-left-section hidden-extra-small clearfix-div">
      <div class="fixed-width-container">
        <div class="row-line">
          <div class="col-small-5 col-medium-5 col-large-5 think-left-col">
            <div class="think-left-text clearfix-div">
              <h3>Kidazzler thinks globally, and together we act locally.</h3>

              <p>Kidazzler is a <span> win-win </span> for parents and businesses in every community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Think Left Section End --></div>
  <!-- Think Section End --><!-- Founded Section Start -->

  <div class="founded-section clearfix-div">
    <div class="fixed-width-container">
      <div class="founded-top clearfix-div">
        <h4>Kidazzler was founded in Los Angeles, California, by a group of parents, tech executives, and
          military veterans.</h4>

        <p>We&rsquo;re driven to make Kidazzler into a vehicle for change in the world. One that makes a real
          difference in people&rsquo;s lives, and helps every family and every business in each community
          prosper.</p>

        <p>We believe that when we all join together and lend a hand to create something bigger than any of us,
          we create something that benefits all of us. Together we will make an impact for every family and
          help make every community thrive.</p>
      </div>

      <div class="founded-bottom clearfix-div">
        <h4>Join our community, and let&#39;s make an impact together.</h4>
        <a class="button pink-button" [routerLink]="['/login']">Join Us Now</a></div>
    </div>
  </div>
  <!-- Founded Section End --></div>
<kz-footer class="clearfix-div"></kz-footer>
